@await Html.PartialAsync("_VendorCodePartial")

<div class="row">
    <div class="col-12">
        <h3>Bulk code reassignment</h3>
        <p>Use this form to upload a list of vendor codes and have each user associated with one of those vendor codes assigned a new vendor code. Please be aware of the following:</p>
        <ul>
            <li>
                This participant will have their old Prize removed, and a new Prize
                created (if possible, we do not remove redeemed prizes).
            </li>
            <li>
                This participant will receive a new Mail with their code. They will
                still have an old Mail with their old code in it.
            </li>
            <li>
                The primary view for this participant will be of the new code - that's
                what they will see in their profile and on the Dashboard.
            </li>
            <li>
                You should probably be in contact with the participant before taking
                this action so they are not confused.
            </li>
        </ul>
    </div>
</div>

<form asp-controller="@VendorCodesController.Name"
      asp-action="@nameof(VendorCodesController.BulkCodeReassignment)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <div class="row" style="margin-top: 2rem;">
        <div class="col-12">
        <div class="mb-3">
            <label for="reason">Enter reason - only for staff to see</label>
            <input type="text" class="form-control" maxlength="255" name="reason" />
        </div>
        <div class="mb-3">
            <label for="selectedFile">Select text file:</label>
            <div class="input-group">
                <label class="input-group-text">
                    <span class="btn btn-secondary btn-file">
                        <span class="far fa-file-image"></span>
                        Select a text file<input type="file" name="textFile" accept=".txt" />
                    </span>
                </label>
                <input type="text" class="form-control" readonly id="selectedFile">
                <span class="input-group-text">
                    <button type="submit"
                            class="btn btn-secondary"
                            data-bs-toggle="modal"
                            data-bs-target="#importModal">
                        <span class="fas fa-upload"></span>
                    </button>
                </span>
            </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="importModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4">Uploading list of codes to assign new codes to participants...</h1>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar"
                         aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 100%">
                        <span class="sr-only">Importing Vendor Status Updates</span>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
    {
    <script>
        $(':file').on('fileselect', function (event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles = ' files selected' : label;

            if (input.length) {
                input.val(log);
                $('.btn-file').removeClass('btn-secondary');
                $('.btn-file').addClass('btn-outline-success');
            }
            else {
                input.val('');
                $('.btn-file').addClass('btn-secondary');
                $('.btn-file').removeClass('btn-outline-success');
            }
        });

        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });
    </script>
}
