@model IEnumerable<SelectListItem>

@await Html.PartialAsync("_VendorCodePartial")

<form asp-controller="@VendorCodesController.Name">
    <div class="row mb-2">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="mb-3">
                <label for="vendorCodeTypeId">Vendor code:</label>
                <select id="vendorCodeTypeId"
                        name="vendorCodeTypeId"
                        asp-items="@Model"
                        class="form-select"></select>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 col-md-8 offset-md-2">
            <button asp-action="@nameof(VendorCodesController.DownloadUnreportedEmailAddresses)"
                    formmethod="get"
                    class="btn btn-outline-primary">
                Download Unreported Email Addresses
            </button>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12 col-md-8 offset-md-2">
            <label for="selectedFile">Select an email award status file (.xls):</label>
            <div class="input-group mb-3">
                <input accept=".xls"
                       id="excelFile"
                       name="excelFile"
                       class="form-control"
                       type="file" />
                <button class="btn btn-outline-secondary" onclick="$('#excelFile').val('')"
                        type="button">
                    Clear selection
                </button>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-end">
            <button type="submit"
                    asp-action="@nameof(VendorCodesController.EmailAwardStatus)"
                    formmethod="post"
                    formenctype="multipart/form-data"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#importModal">
                <span class="fas fa-fw fa-upload"></span>
                Upload email award status
            </button>
        </div>
    </div>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="importModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4">Uploading email award status file for import...</h1>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar"
                         aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 100%">
                        <span class="sr-only">Importing Email Award Status Updates</span>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
