@model long

@if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageVendorCodes.ToString()))
{
    @await Html.PartialAsync("_VendorCodePartial")
}

<div class="row" style="margin-top: 1rem; margin-bottom: 2rem;">
    <div class="col-xs-12">
        <form asp-action="@nameof(VendorCodesController.LookupPackingSlip)"
              method="post"
              role="form"
              class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <label for="numberOfCodes" 
                           class="input-group-addon">Packing slip number:</label>
                    <input type="number"
                           id="id"
                           name="id"
                           class="form-control"
                           value="@Model" />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-info" value="View" />
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
