@model string

@if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageVendorCodes.ToString()))
{
    @await Html.PartialAsync("_VendorCodePartial")
}

<div class="row" style="margin-top: 1rem; margin-bottom: 2rem;">
    <div class="col-12">
        <form asp-action="@nameof(VendorCodesController.LookupPackingSlip)"
              method="post"
              role="form"
              class="d-flex flex-row align-items-center flex-wrap">
            <div class="mb-3">
                <div class="input-group">
                    <label for="numberOfCodes" 
                           class="input-group-addon">Packing slip number:</label>
                    <input id="id"
                           name="id"
                           class="form-control"
                           value="@Model" />
                    <span class="input-group-text">
                        <button type="submit" class="btn btn-info">View</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
