@model string

@await Html.PartialAsync("_VendorCodePartial")

<div class="row my-1">
    <div class="col-12 col-md-8 offset-md-2">
        <p>
            Generate vendor codes for vendor code type: <strong>@Model</strong>
        </p>
    </div>
</div>
<form asp-action="@nameof(VendorCodesController.GenerateCodes)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="input-group">
                <label class="input-group-text" for="numberOfCodes">
                    How many to generate:
                </label>
                <input type="number" name="numberOfCodes" class="form-control" placeholder="#" />
                <button type="submit" class="btn btn-info">Generate</button>
            </div>
        </div>
    </div>
</form>
