<ajaxControlToolkit>

  <controlBundles>




    <!-- works for most pages -->

    <controlBundle>
      <control name="CalendarExtender"></control>      
      <control name="MaskedEditExtender"></control>
      <control name="TabContainer"></control>
      <control name="TabPanel"></control>
      <control name="CollapsiblePanelExtender"></control>
    </controlBundle>




    <!-- Works for pages that use only AccordionExtender -->

    <controlBundle name="Group1">

      <control name="AccordionExtender"></control>
      <control name="HtmlEditorExtender"></control>

    </controlBundle>




    <!-- Works for pages that use only CalendarExtender and 

                     HtmlEditorExtender -->

    <controlBundle name="Group2">

      <control name="CalendarExtender"></control>

      <control name="HtmlEditorExtender"></control>

    </controlBundle>




  </controlBundles>
</ajaxControlToolkit>
