<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="SRPDBConn" connectionString="Data Source=(local);Initial Catalog=SRP;User ID=SRP;Password=SRP" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="LogEmails" value="True" />
    <add key="UseEmailTemplates" value="True" />
    <add key="DefaultEmailTemplate" value="/Layout/EmailTemplate.htm" />
    <add key="DefaultEmailFrom" value="bjonson@stglink.com" />
  </appSettings>

  <system.net>
    <mailSettings>
       
      <smtp>
        <network host="relayServerHostname" port="25" userName="username" password="password" />
      </smtp>
      
<!--
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="bjonson@stglink.com">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\inetpub\smtp\" />
      </smtp>
-->

    </mailSettings>
  </system.net>

  
  <system.web>

    <trace localOnly="true" />

    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" enableVersionHeader="false" />
    <httpHandlers>
      <!-- Using CombineCriptsHandler.axd as path of handler -->
      <add verb="*" path="CombineScriptsHandler.axd"
                type="AjaxControlToolkit.CombineScriptsHandler,
                AjaxControlToolkit" />
    </httpHandlers>

    <customErrors mode="RemoteOnly" defaultRedirect="~/ControlRoom/GenericErrorPage.aspx">
      <error statusCode="403" redirect="~/ControlRoom/NoAccess.aspx" />
      <error statusCode="404" redirect="~/ControlRoom/FileNotFound.aspx" />
    </customErrors>

    <authentication mode="Forms">
      <forms loginUrl="~/ControlRoom/Login.aspx" name="STGCMSCookie" timeout="2880" defaultUrl="~/ControlRoom/Default.aspx" />
    </authentication>

    <pages><controls><add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls></pages>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- Using CombineCriptsHandler as name of handler -->
      <add name="CombineScriptsHandler" verb="*"
          path="CombineScriptsHandler.axd"
          type="AjaxControlToolkit.CombineScriptsHandler,
         AjaxControlToolkit" />
    </handlers>
  </system.webServer>
</configuration>