<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>

  </system.web>

  <!-- mailtrap.io provides free email testing, the following section can be used to set it up -->
  <!--<system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp>
        <network host="mailtrap.io"
                 port="465"
                 enableSsl="true"
                 userName="username"
                 password="password" />
      </smtp>
    </mailSettings>
  </system.net>-->


  <elmah>
    <security allowRemoteAccess="true" xdt:Transform="Replace"/>
    <!-- enabling the following line will email all exceptions -->
    <!-- <errorMail from="great-reading-adventure@mydomain"
               to="myaddress@mydomain"
               async="true"
               smtpServer="smtp.server.address"
               smtpPort="25"
               xdt:Transform="InsertIfMissing"/> -->
  </elmah>
</configuration>