<?xml version="1.0" encoding="utf-8"?>
<!-- Great Reading Adventure Web.config file -  http://www.greatreadingadventure.com/
     Manual: http://manual.greatreadingadventure.com/ -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="SRPDBConn" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=SRP" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- appSettings are documented in the manual: 
         http://manual.greatreadingadventure.com/en/latest/technical/configuration-details/ -->
    <add key="LogEmails" value="True" />
    <add key="UseEmailTemplates" value="True" />
    <add key="DefaultEmailTemplate" value="/Layout/EmailTemplate.htm" />
    <add key="DefaultEmailFrom" value="info@test.greatreadingadventure.com" />
    <!-- The following setting will skip database group membership checking during initial setup.
         You would use this if your database server doesn't use the standard db_owner, 
         db_datareader, and db_datawriter groups. -->
    <!--<add key="IgnoreMissingDatabaseGroups" value="true" />-->
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\inetpub\smtp\" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <sessionState mode="InProc" timeout="60" cookieless="false" />
    <compilation debug="true" targetFramework="4.0" />

    <!-- default executionTimeout is 110 seconds per:
         https://msdn.microsoft.com/en-us/library/e1f13641(v=vs.100).aspx -->
    <!-- default maxRequestLength is 4096, previously set here: maxRequestLength="1048576" -->
    <!-- moved requestValidationMode="2.0" down to only apply to the ControlRoom -->
    <httpRuntime enableVersionHeader="false" />

    <httpHandlers>
      <!-- Using CombineScriptsHandler.axd as path of handler -->
      <add verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler, AjaxControlToolkit" />
    </httpHandlers>

    <customErrors mode="Off" defaultRedirect="~/Problem/Error.aspx">
      <error statusCode="404" redirect="~/Problem/NotFound.aspx" />
    </customErrors>

    <authentication mode="Forms">
      <forms loginUrl="~/ControlRoom/Login.aspx" name="GRAControlRoom" timeout="2880" slidingExpiration="true" defaultUrl="~/ControlRoom/Default.aspx" />
    </authentication>

    <pages theme="GRA">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>

    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>

  <location path="ControlRoom">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>

      <httpRuntime executionTimeout="600" requestValidationMode="2.0" />

      <pages validateRequest="false" />

      <customErrors mode="Off" defaultRedirect="~/ControlRoom/GenericErrorPage.aspx">
        <error statusCode="403" redirect="~/ControlRoom/NoAccess.aspx" />
        <error statusCode="404" redirect="~/ControlRoom/FileNotFound.aspx" />
      </customErrors>
    </system.web>
  </location>

  <location path="ControlRoom/PasswordReset.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ControlRoom/PasswordRecovery.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ControlRoom/LoginRecovery.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ControlRoom/Configure.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <!-- default maxAllowedContentLength 30000000, which is approximately 28.6MB. per:
             https://www.iis.net/configreference/system.webserver/security/requestfiltering/requestlimits -->
    <!--<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>-->

    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>

    <handlers>
      <!-- Using CombineScriptsHandler as name of handler -->
      <add name="CombineScriptsHandler" verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler, AjaxControlToolkit" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets async="true">
      <target type="File" name="logfile" fileName="${basedir}/../../logs/log.txt" archiveFileName="${basedir}/../../logs/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>

  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>