<?xml version="1.0"?>

  <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog>
    <rules>
      <logger name="*"
              minlevel="Info"
              writeTo="logfile"
              xdt:Transform="Replace"
              xdt:Locator="Match(name)"/>
    </rules>
  </nlog>
  
  <elmah>
    <security allowRemoteAccess="false" xdt:Transform="Replace"/>
  </elmah>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>