<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog>
    <rules>
      <logger name="*"
              minlevel="Info"
              writeTo="logfile"
              xdt:Transform="Replace"
              xdt:Locator="Match(name)"/>
    </rules>
  </nlog>

  <elmah>
    <security allowRemoteAccess="false" xdt:Transform="Replace"/>
  </elmah>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="RemoteOnly" defaultRedirect="~/Problem/Error.aspx" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Problem/NotFound.aspx" />
    </customErrors>
  </system.web>

  <location path="ControlRoom">
    <system.web>
      <customErrors mode="RemoteOnly"
                    defaultRedirect="~/ControlRoom/GenericErrorPage.aspx"
                    xdt:Transform="Replace">
        <error statusCode="403" redirect="~/ControlRoom/NoAccess.aspx" />
        <error statusCode="404" redirect="~/ControlRoom/FileNotFound.aspx" />
      </customErrors>
    </system.web>
  </location>

</configuration>