<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="Index"><a asp-action="Index">Schools</a></li>
            <li ActiveBy routeKey="Action" value="Districts"><a asp-action="Districts">School Districts</a></li>
            <li ActiveBy routeKey="Action" value="Types"><a asp-action="Types">School Types</a></li>
        </ul>
    </div>
</div>