<div class="row my-4">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a ActiveBy routeKey="Action" 
                value="Index"
                asp-action="Index"
                class="nav-link">
            Schools</a>
            </li>
            <li class="nav-item">
                <a ActiveBy routeKey="Action" 
                value="Districts"
                asp-action="Districts"
                class="nav-link">
            School Districts</a>
            </li>
            <li class="float-end nav-item">
                <div>
                    <a asp-action="Import" class="btn btn-sm btn-secondary nav-link">
                        <span class="fas fa-file-upload"></span>
                        Import
                    </a>
                    </div>
                     <li class="float-end nav-item">
                <div>
                    <div>
                    <a asp-action="Export" class="btn btn-sm btn-secondary nav-link">
                        <span class="fas fa-file-download"></span>
                        Export
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>