@await Html.PartialAsync("_SchoolsPartial")

<form asp-controller="@SchoolsController.Name"
      asp-action="@nameof(SchoolsController.Import)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mb-3">
            <div class="card">
                <h5 class="card-header">
                    Upload school <code>.csv</code> file
                </h5>
                <div class="card-body">
                    <p>Import schools from a properly-formatted <code>.csv</code> file.</p>
                    <ul>
                        <li class="mc-extra-height">
                            Imports and exports happen via
                            <a href="https://en.wikipedia.org/wiki/Comma-separated_values"
                               target="_blank">comma-separated value</a> (<code>.csv</code>) files.
                        </li>
                        <li class="mc-extra-height">
                            Each district will be inserted only once and related to all schools that
                            it is listed with.
                        </li>
                        <li class="mc-extra-height">
                            Each school in the file will be inserted,
                            <strong>even if it's already in the system</strong>.
                        </li>
                        <li class="mc-extra-height">
                            If you need to see the file format, please perform an
                            <strong><a asp-action="Export">Export</a></strong> and review the
                            downloaded file.
                        </li>
                        <li class="mc-extra-height">
                            The easiest way to edit <code>.csv</code> files is in a spreadsheet
                            application, however you can edit them in a text editor as well.
                        </li>
                    </ul>
                    <label for="schoolFileCsv">Select a csv file to upload</label>
                    <div class="input-group mb-3">
                        <input accept=".csv"
                               id="schoolFileCsv"
                               name="schoolFileCsv"
                               class="form-control"
                               type="file" />
                        <button class="btn btn-outline-secondary"
                                onclick="$('#schoolFileCsv').val('')"
                                type="button">
                            Clear selection
                        </button>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="submit"
                            class="btn btn-outline-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#importModal">
                        <span class="fas fa-upload"></span>
                        Upload school import
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="importModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4">Importing Schools</h1>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar"
                         aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 100%">
                        <span class="sr-only">Importing Schools</span>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
