<div class="row my-4">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                value="Index"
                asp-action="Index"
                class="nav-link">
                Roles</a>
            </li>
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                value="AuthorizationCodes"
                asp-action="AuthorizationCodes"
                class="nav-link">
                Authorization Codes</a>
            </li>        </ul>
    </div>
</div>