<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="Index"><a asp-action="Index">Roles</a></li>
            <li ActiveBy routeKey="Action" value="AuthorizationCodes"><a asp-action="AuthorizationCodes">Authorization Codes</a></li>
        </ul>
    </div>
</div>