@model GRA.Domain.Model.Page

@if (!string.IsNullOrWhiteSpace(Model.MetaDescription))
{
    @section metadata {
        <meta name="description" content="@Model.MetaDescription" />
    }
}

<div class="info-page px-5 py-4">
    @Html.Raw(Model.Content)
</div>
