# Set default behavior to automatically normalize line endings.
* text=auto
src/GRA.Web/wwwroot/css/*.min.css -crlf
src/GRA.Web/wwwroot/js/*.min.js -crlf

# linguist overrides https://github.com/github/linguist#overrides
src/GRA.Web/node_modules/* linguist-vendored
dev/* linguist-documentation
docs/* linguist-documentation
re/* linguist-documentation
src/GRA.Data.SQLite/Migrations/* linguist-generated
src/GRA.Data.SqlServer/Migrations/* linguist-generated
*.min.css linguist-generated=true
*.min.js linguist-generated=true

# fix CHANGELOG.md to default to union merge
CHANGELOG.md merge=union
