# Great Reading Adventure Travis CI Docker build file

os: linux
dist: trusty
sudo: required

language: bash

services:
  - docker

install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - docker info

script:
  - docker build -t gra4 .

