.upsell {
    background: repeating-linear-gradient( -55deg, #222, #222 10px, #333 10px, #333 20px );
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 1em;
    margin-top: 2em;
    color: white;
}

.upselltext {
    margin-left: 2em;
    margin-right: 2em;
    display: inline-block;
    font-weight: bold;
}

.footer {
    font-style: italic;
    padding-top: 0.8em;
    width: 100%;
    margin-top: 2em;
    background-color: #eee;
}

.tooltip-inner {
    white-space: pre-wrap;
    min-width: 80px;
}

.label-as-badge {
    border-radius: 1em;
}

.left-spacer {
    margin-left: 1em;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

.margin-1em-top {
    margin-top: 1em;
}

.margin-1em-left {
    margin-left: 1em;
}

.margin-1em-right {
    margin-right: 1em;
}

.margin-1em-bottom {
    margin-bottom: 1em;
}