@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

.upsell {
    background: repeating-linear-gradient( -55deg, #222, #222 10px, #333 10px, #333 20px );
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 1em;
    margin-top: 2em;
    color: white;
}

.upselltext {
    margin-left: 2em;
    margin-right: 2em;
    display: inline-block;
    font-weight: bold;
}

.footer {
    font-style: italic;
    padding-top: 0.8em;
    width: 100%;
    margin-top: 2em;
    background-color: #eee;
}

/* provide a minimum width on tooltips to reduce wrapping */
.tooltip-inner {
    white-space: pre-wrap;
    min-width: 80px;
}

/* background colors for rows in the activity history screen */
.award-reading {
    background-color: #ddffdd;
}

.award-event {
    background-color: #ddddff;
}

.award-challenge {
    background-color: #ffffdd;
}

.award-adventure {
    background-color: #ffddff;
}

/* badges in the top nav bar are actually labels */
.label-as-badge {
    border-radius: 1em;
}

/* general spacing help */
.margin-1em-top {
    margin-top: 1em;
}

.margin-1em-left {
    margin-left: 1em;
}

.margin-1em-right {
    margin-right: 1em;
}

.margin-1em-bottom {
    margin-bottom: 1em;
}

.margin-halfem-top {
    margin-top: 0.5em;
}

.margin-halfem-left {
    margin-left: 0.5em;
}

.margin-halfem-right {
    margin-right: 0.5em;
}

.margin-halfem-bottom {
    margin-bottom: 0.5em;
}

.no-underline {
    text-decoration: none !important;
}

.badge-with-info-height {
    height: 180px;
    display: block;
}

.badge-without-info-height {
    height: 150px;
    display: block;
}

