@{
    ViewData[GRA.Controllers.ViewDataKey.Title] = "Error";
}

@section styles {
    <style>
        .panel-error-message p {
            margin-bottom: 2rem;
            line-height: 3rem;
            font-size: larger;
        }
    </style>
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h3 text-danger"><strong>That didn't work right!</strong></span>
            </div>
            <div class="panel-body panel-error-message">
                <p>
                    Something seems to have gone wrong while loading the page you requested.
                    Sorry about that! Please wait a little bit and try again.
                </p>

                <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-success pull-right">
                    <span class="fa fa-home"></span>
                    Home
                </a>
            </div>
        </div>
    </div>
</div>
