@model GRA.Controllers.ViewModel.Profile.BadgeInfoViewModel

<div class="row row-spacing">
    <div class="col-xs-12 col-sm-3 text-center"
         style="margin-bottom: 1rem;">
        <img class="img-thumbnail img-responsive"
             src="~/@Model.UserLog.BadgeFilename"
             asp-append-version="true" />
    </div>
    <div class="col-xs-12 col-sm-9">
        @if (!string.IsNullOrWhiteSpace(Model.HtmlMessage))
        {
            <p>@Html.Raw(Model.HtmlMessage)</p>
        }
        else
        {
            <p>@Model.Message</p>
        }
    </div>
</div>
<div class="row" style="margin-top: 1rem;">
    <div class="col-xs-12">
        <p style="margin-bottom: 0;"><em>@SharedLocalizer[GRA.Annotations.Info.EarnedOn, Model.UserLog.CreatedAt.ToShortDateString()]</em></p>
    </div>
</div>