@model GRA.Controllers.ViewModel.Profile.BadgeInfoViewModel

<div class="row">
    @if (Model?.UserLog != null)
    {
        <div class="col-12 col-sm-4 mb-2 d-flex justify-content-center">
            <img class="img-thumbnail img-fluid"
                 alt="@Model.UserLog.BadgeAltText"
                 src="~/@Model.UserLog.BadgeFilename" />
        </div>
    }
    <div class="col-12 col-sm-8">
        @if (!string.IsNullOrWhiteSpace(Model.HtmlMessage))
        {
            <p>@Html.Raw(Model.HtmlMessage)</p>
        }
        else
        {
            <p>@Html.Raw(Model.Message)</p>
        }
        @if (Model?.UserLog?.CreatedAt != null)
        {
            <em>
                @SharedLocalizer[GRA.Annotations.Info.EarnedOn, Model.UserLog.CreatedAt.ToShortDateString()]
            </em>
        }
    </div>
</div>
