<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="Index"><a asp-action="Index">Details</a></li>
            <li ActiveBy routeKey="Action" value="Household">
                <a asp-action="Household">
                    Household
                    @if (Model.HouseholdCount > 0)
                    {
                        <span class="label label-default label-as-badge">@(Model.HouseholdCount + 1)</span>
                    }
                </a>
            </li>
            <li ActiveBy routeKey="Action" value="Books"><a asp-action="Books">Book List</a></li>
            <li ActiveBy routeKey="Action" value="History"><a asp-action="History">History</a></li>
            @if (Model.HasAccount)
            {
                <li ActiveBy routeKey="Action" value="ChangePassword"><a asp-action="ChangePassword">Change Password</a></li>
            }
        </ul>
    </div>
</div>
