@model GRA.Controllers.ViewModel.Profile.HouseholdExistingViewModel

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1">
        <div class="card">
            <div class="card-header">
                <span class="lead">
                    @SharedLocalizer[GRA.Annotations.Info.GroupAdd,
                        SharedLocalizer[Context.Items[GRA.Controllers.ItemKey.HouseholdTitle].ToString()]]
                </span>
            </div>
            <div class="card-body">

                <form asp-controller="Profile" asp-action="AddExistingParticipant" method="post" role="form">
                    <div class="row" style="padding: 10px 0;">
                        <div class="col-12">

                            <div class="row row-spacing">
                                <div class="col-12">
                                    <p>
                                        @SharedLocalizer[GRA.Annotations.Interface.AddExistingExplanation,
                                            SharedLocalizer[Context.Items[GRA.Controllers.ItemKey.HouseholdTitle].ToString()]]
                                    </p>
                                </div>
                            </div>

                            <div class="row row-spacing">
                                <div class="col-12">
                                    <label asp-for="Username" class="col-form-label"></label>
                                    <input asp-for="Username" class="form-control" autofocus />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row row-spacing">
                                <div class="col-12">
                                    <label asp-for="Password" class="col-form-label"></label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <a asp-action="Household" class="btn btn-secondary">
                            @SharedLocalizer[GRA.Annotations.Interface.BackTo,
                                SharedLocalizer[Context.Items[GRA.Controllers.ItemKey.HouseholdTitle].ToString()]]
                        </a>
                        <button type="submit"
                                id="Submit"
                                name="Submit"
                                value="Submit"
                                class="btn btn-primary btn-spinner"
                                button-spinner>
                            <span class="buttonText">
                                @SharedLocalizer[GRA.Annotations.Info.GroupAdd,
                                    SharedLocalizer[Context.Items[GRA.Controllers.ItemKey.HouseholdTitle].ToString()]]
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>