@model GRA.Controllers.ViewModel.Profile.ChangePasswordViewModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">My Profile</span>
            </div>
            <div class="panel-body">

                @Html.Partial("_ProfilePartial")

                <form asp-controller="Profile" asp-action="ChangePassword" method="post" role="form">
                    <div class="row" style="padding: 10px 0;">
                        <div class="col-xs-12">
                            <input asp-for="HouseholdCount" type="hidden" />
                            <input asp-for="HasAccount" type="hidden" />

                            @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                                <div class="row row-spacing">
                                    <div class="col-xs-12">
                                        <p class="text-danger">@Model.ErrorMessage</p>
                                    </div>
                                </div>
                            }

                            <div class="row row-spacing">
                                <div class="col-xs-12">
                                    <label asp-for="OldPassword" class="control-label"></label>
                                    <input asp-for="OldPassword" class="form-control" type="password" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row row-spacing">
                                <div class="col-xs-12">
                                    <label asp-for="NewPassword" class="control-label"></label>
                                    <input asp-for="NewPassword" class="form-control" type="password" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row row-spacing">
                                <div class="col-xs-12">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>