@model GRA.Controllers.ViewModel.Profile.GroupUpgradeViewModel
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form asp-action="CreateGroup">
            <input asp-for="AddExisting" type="hidden" />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@SharedLocalizer[GRA.Annotations.Title.UpgradeToGroup]</h3>
                </div>
                <div class="panel-body">
                    <p>
                        @SharedLocalizer[GRA.Annotations.Info.UpgradeToGroupDescription, Model.MaximumHouseholdAllowed]
                    </p>
                    <div class="mb-3">
                        <badge asp-for="GroupInfo.Name" class="col-form-label"></badge>
                        <input asp-for="GroupInfo.Name" class="form-control" />
                        <span asp-validation-for="GroupInfo.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <badge asp-for="GroupInfo.GroupTypeId" class="col-form-label"></badge>
                        <select asp-for="GroupInfo.GroupTypeId"
                                asp-items="Model.GroupTypes"
                                class="form-control"></select>
                        <span asp-validation-for="GroupInfo.GroupTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a class="btn btn-danger" asp-action="CancelGroupUpgrade">
                            <span class="buttonText">@SharedLocalizer[GRA.Annotations.Interface.Cancel]</span>
                        </a>
                        <button type="submit"
                                id="Submit"
                                name="Submit"
                                value="Submit"
                                class="btn btn-primary btn-spinner"
                                button-spinner>
                            <span class="buttonText">@SharedLocalizer[GRA.Annotations.Interface.UpgradeToGroup]</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
