@{
    ViewData[GRA.Controllers.ViewDataKey.Title] = "Page not found";
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h3 text-warning"><strong>Page not found</strong></span>
            </div>
            <div class="panel-body">
                <p class="lead">We couldn't find what you were looking for. Sorry about that!</p>
                
                <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-default">
                    <span class="fa fa-home"></span>
                    Go Home
                </a>
            </div>
        </div>
    </div>
</div>
