@{
    ViewData[GRA.Controllers.ViewDataKey.Title] 
        = SharedLocalizer[GRA.Annotations.Title.PageNotFound];
    ViewData["404MailLink"] = Url.Action(nameof(MailController.Send), MailController.Name);
}

@section styles {
    <style>
        .panel-error-message p {
            margin-bottom: 2rem;
            line-height: 3rem;
            font-size: larger;
        }
    </style>
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="h3 text-warning text-strong" style="margin: 0;">
                        @SharedLocalizer[GRA.Annotations.Title.PageNotFound]
                </h1>
            </div>
            <div class="panel-body panel-error-message">
                <p>
                    @SharedLocalizer[GRA.Annotations.Info.CouldNotFind]
                </p>
                <p>
                    @SharedHtmlLocalizer[GRA.Annotations.Info.MailForHelp, ViewData["404MailLink"]]
                </p>

                <a asp-controller="Home"
                   asp-action="Index"
                   class="btn btn-lg btn-success pull-right">
                    <span class="fas fa-home"></span>
                    @SharedLocalizer[GRA.Domain.Model.DisplayNames.Home]
                </a>
            </div>
        </div>
    </div>
</div>
