@model GRA.Controllers.ViewModel.MissionControl.Sites.SiteConfigurationViewModel

@await Html.PartialAsync("_SitePartial")

<form asp-controller="Sites" asp-action="Configuration" method="post" role="form">
    <input asp-for="Id" type="hidden" />

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="ExternalEventListUrl" class="control-label"></label>
            <span class="far fa-question-circle wide-tooltip" title="Configuring a URL here will link to that site rather than use the built-in event system." data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="ExternalEventListUrl" type="text" class="form-control" />
            <span asp-validation-for="ExternalEventListUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="SinglePageSignUp" class="control-label"></label>
            <select asp-for="SinglePageSignUp" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="SinglePageSignUp" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="RequirePostalCode" class="control-label"></label>
            <select asp-for="RequirePostalCode" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="RequirePostalCode" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="GoogleAnalyticsTrackingId" class="control-label"></label>
            <span class="far fa-question-circle wide-tooltip" title="Should be similar to UA-########-#" data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="GoogleAnalyticsTrackingId" type="text" class="form-control" />
            <span asp-validation-for="GoogleAnalyticsTrackingId" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="IsHttpsForced" class="control-label"></label>
            <span class="far fa-question-circle wide-tooltip" title="If your site is placed behind a reverse proxy which handles SSL for you set this to true." data-toggle="tooltip" data-placement="top"></span>
            <select asp-for="IsHttpsForced" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="IsHttpsForced" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="FromEmailName" class="control-label"></label>
            <span class="fas fa-exclamation-circle wide-tooltip text-danger" title="Required for email to function." data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="FromEmailName" type="text" class="form-control" />
            <span asp-validation-for="FromEmailName" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="FromEmailAddress" class="control-label"></label>
            <span class="fas fa-exclamation-circle wide-tooltip text-danger" title="Required for email to function." data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="FromEmailAddress" type="text" class="form-control" />
            <span asp-validation-for="FromEmailAddress" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="OutgoingMailHost" class="control-label"></label>
            <span class="fas fa-exclamation-circle wide-tooltip text-danger" title="Required for email to function." data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="OutgoingMailHost" type="text" class="form-control" />
            <span asp-validation-for="OutgoingMailHost" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="OutgoingMailPort" class="control-label"></label>
            <span class="far fa-question-circle wide-tooltip" title="If not supplied, 25 will be used." data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="OutgoingMailPort" type="text" class="form-control" />
            <span asp-validation-for="OutgoingMailPort" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="OutgoingMailLogin" class="control-label"></label>
            <input asp-for="OutgoingMailLogin" type="text" class="form-control" />
            <span asp-validation-for="OutgoingMailLogin" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="OutgoingMailPassword" class="control-label"></label>
            <input asp-for="OutgoingMailPassword" type="text" class="form-control" />
            <span asp-validation-for="OutgoingMailPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label>Send test email to:</label>
        <input id="emailAddress" class="form-control" style="display:unset; width:300px;" value="@Model.CurrentUserMail">
        <button id="sendTest" type="button" class="btn btn-default" button-spinner>
            Send
        </button>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to List</a>
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
                class="btn btn-primary btn-spinner"
                button-spinner>
            <span class="buttonText">Save</span>
        </button>
    </div>
</form>

@section scripts {
    <script>
        $("#sendTest").on("click", function () {
            var emailAddress = $("#emailAddress").val();
            if (emailAddress == "") {
                alert("Please enter an email address in order to send a test email.");
                return;
            }
            var button = $(this);
            button.attr("disabled", "disabled");
            button.children("span").removeClass("hidden");
            var url = "@Url.Action(nameof(SitesController.SendTestEmail))";
            $.post(url, { emailAddress: emailAddress }, function (response) {
                button.removeAttr("disabled", "disabled");
                button.children("span").addClass("hidden");
                if (response.success) {
                    alert("Email sent, server response: " + response.message);
                }
                else {
                    alert("Error sending email, server response: " + response.message);
                }
                ResetSpinners();
            });
        })
    </script>
}