@model GRA.Controllers.ViewModel.MissionControl.Sites.SiteConfigurationViewModel

@Html.Partial("_SitePartial")

<form asp-controller="Sites" asp-action="Configuration" method="post" role="form">
    <input asp-for="Id" type="hidden" />

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="SiteLogoUrl" class="control-label"></label>
            <input asp-for="SiteLogoUrl" type="text" class="form-control" />
            <span asp-validation-for="SiteLogoUrl" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="ExternalEventListUrl" class="control-label"></label>
            <input asp-for="ExternalEventListUrl" type="text" class="form-control" />
            <span asp-validation-for="ExternalEventListUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="MaxPointsPerChallengeTask" class="control-label"></label>
            <input asp-for="MaxPointsPerChallengeTask" type="text" class="form-control" />
            <span asp-validation-for="MaxPointsPerChallengeTask" class="text-danger"></span>
        </div>

    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="SinglePageSignUp" class="control-label"></label>
            <select asp-for="SinglePageSignUp" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="SinglePageSignUp" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="RequirePostalCode" class="control-label"></label>
            <select asp-for="RequirePostalCode" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="RequirePostalCode" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="GoogleAnalyticsTrackingId" class="control-label"></label>
            <input asp-for="GoogleAnalyticsTrackingId" type="text" class="form-control" />
            <span asp-validation-for="GoogleAnalyticsTrackingId" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="IsHttpsForced" class="control-label"></label>
            <select asp-for="IsHttpsForced" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="IsHttpsForced" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="FromEmailName" class="control-label"></label>
            <input asp-for="FromEmailName" type="text" class="form-control" />
            <span asp-validation-for="FromEmailName" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="FromEmailAddress" class="control-label"></label>
            <input asp-for="FromEmailAddress" type="text" class="form-control" />
            <span asp-validation-for="FromEmailAddress" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="OutgoingMailHost" class="control-label"></label>
            <input asp-for="OutgoingMailHost" type="text" class="form-control" />
            <span asp-validation-for="OutgoingMailHost" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="OutgoingMailPort" class="control-label"></label>
            <input asp-for="OutgoingMailPort" type="text" class="form-control" />
            <span asp-validation-for="OutgoingMailPort" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="OutgoingMailLogin" class="control-label"></label>
            <input asp-for="OutgoingMailLogin" type="text" class="form-control" />
            <span asp-validation-for="OutgoingMailLogin" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="OutgoingMailPassword" class="control-label"></label>
            <input asp-for="OutgoingMailPassword" type="text" class="form-control" />
            <span asp-validation-for="OutgoingMailPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to List</a>
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary btn-spinner">
            <span class="buttonText">Save</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>