@model GRA.Controllers.ViewModel.MissionControl.Sites.SiteDetailViewModel

@section styles {
    <link rel="stylesheet" href="/css/markdown.min.css" />
}

@await Html.PartialAsync("_SitePartial")

<form asp-controller="Sites" asp-action="Detail" method="post" role="form">
    <input asp-for="Id" type="hidden" />
    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Path" class="col-form-label"></label>
            <input asp-for="Path" type="text" class="form-control" />
            <span asp-validation-for="Path" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="PageTitle" class="col-form-label"></label>
            <input asp-for="PageTitle" type="text" class="form-control" />
            <span asp-validation-for="PageTitle" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="MetaDescription" class="col-form-label"></label>
            <input asp-for="MetaDescription" type="text" class="form-control" />
            <span asp-validation-for="MetaDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Footer" class="col-form-label"></label>
            <div id="wmd-button-bar"></div>
            <textarea asp-for="Footer" id="wmd-input" class="form-control wmd-input" style="height:200px;"></textarea>
            <br /><label class="col-form-label">Footer Preview</label>
            <div id="preview"></div>
            <span asp-validation-for="Footer" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <a asp-action="Index" class="btn btn-secondary">Return to List</a>
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
                class="btn btn-primary btn-spinner"
                button-spinner>
            <span class="buttonText">Save</span>
        </button>
    </div>
</form>

@section scripts {
    <script src="/js/markdown.min.js" ></script>

    <script>
        var editor = new Markdown.Editor({ allowUploads: true, allowImages: false });
        editor.run();
    </script>
}