@model GRA.Controllers.ViewModel.MissionControl.Sites.SiteSocialMediaViewModel

@await Html.PartialAsync("_SitePartial")

<form asp-controller="Sites" asp-action="SocialMedia" method="post" role="form">
    <input asp-for="Id" type="hidden" />

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="FacebookAppId" class="control-label"></label>
            <span class="fa fa-question-circle-o wide-tooltip" title="Necessary for Open Graph sharing to work" data-toggle="tooltip" data-placement="top"></span>
            <a href="https://developers.facebook.com/docs/opengraph/getting-started/" target="_blank"><span class="fa fa-info-circle wide-tooltip" title="Click for more info" data-toggle="tooltip" data-placement="top"></span></a>
            <input asp-for="FacebookAppId" type="text" class="form-control" />
            <span asp-validation-for="FacebookAppId" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="FacebookImageUrl" class="control-label"></label>
            <span class="fa fa-question-circle-o wide-tooltip" title="URL to an Open Graph image to be used when your site is shared" data-toggle="tooltip" data-placement="top"></span>
            <a href="http://ogp.me/" target="_blank"><span class="fa fa-info-circle wide-tooltip" title="Click for more info" data-toggle="tooltip" data-placement="top"></span></a>
            <input asp-for="FacebookImageUrl" type="text" class="form-control" />
            <span asp-validation-for="FacebookImageUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="TwitterUsername" class="control-label"></label>
            <span class="fa fa-question-circle-o wide-tooltip" title="A Twitter username to be associated when your site is shared" data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="TwitterUsername" type="text" class="form-control" />
            <span asp-validation-for="TwitterUsername" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="TwitterCardImageUrl" class="control-label"></label>
            <span class="fa fa-question-circle-o wide-tooltip" title="URL to a Twitter image to be used when your site is shared" data-toggle="tooltip" data-placement="top"></span>
            <a href="https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards" target="_blank"><span class="fa fa-info-circle wide-tooltip" title="Click for more info" data-toggle="tooltip" data-placement="top"></span></a>
            <input asp-for="TwitterCardImageUrl" type="text" class="form-control" />
            <span asp-validation-for="TwitterCardImageUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="TwitterLargeCard" class="control-label"></label>
            <span class="fa fa-question-circle-o wide-tooltip" title="Whether to use a summary card or summary card with large image" data-toggle="tooltip" data-placement="top"></span>
            <a href="https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards" target="_blank"><span class="fa fa-info-circle wide-tooltip" title="Click for more info" data-toggle="tooltip" data-placement="top"></span></a>
            <select asp-for="TwitterLargeCard" class="form-control">
                <option></option>
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="TwitterLargeCard" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <label asp-for="TwitterAvatarMessage" class="control-label"></label>
            <span class="fa fa-question-circle-o wide-tooltip" title="Default text for when a participant shares their avatar on Twitter" data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="TwitterAvatarMessage" type="text" class="form-control" />
            <span asp-validation-for="TwitterAvatarMessage" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label asp-for="TwitterAvatarHashtags" class="control-label"></label>
            <span class="fa fa-question-circle-o wide-tooltip" title="Hashtag to include when a participant shares their avatar on Twitter" data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="TwitterAvatarHashtags" type="text" class="form-control" />
            <span asp-validation-for="TwitterAvatarHashtags" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="AvatarCardDescription" class="control-label"></label>
            <span class="fa fa-question-circle-o wide-tooltip" title="Default text for when a participant shares their avatar on an Open Graph site such as Facebook" data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="AvatarCardDescription" type="text" class="form-control" />
            <span asp-validation-for="AvatarCardDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to List</a>
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary btn-spinner">
            <span class="buttonText">Save</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>