@model GRA.Controllers.ViewModel.MissionControl.Sites.SiteSocialMediaViewModel

@await Html.PartialAsync("_SitePartial")

<form asp-controller="Sites" asp-action="SocialMedia" method="post" role="form">
    <input asp-for="Id" type="hidden" />

    <div class="row row-spacing">
        <div class="col-xs-12 col-sm-6">
            <badge asp-for="TwitterAvatarMessage" class="col-form-label"></badge>
            <span class="far fa-question-circle wide-tooltip" title="Default text for when a participant shares their avatar on Twitter" data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="TwitterAvatarMessage" type="text" class="form-control" />
            <span asp-validation-for="TwitterAvatarMessage" class="text-danger"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <badge asp-for="TwitterAvatarHashtags" class="col-form-label"></badge>
            <span class="far fa-question-circle wide-tooltip" title="Hashtag to include when a participant shares their avatar on Twitter" data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="TwitterAvatarHashtags" type="text" class="form-control" />
            <span asp-validation-for="TwitterAvatarHashtags" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <badge asp-for="AvatarCardDescription" class="col-form-label"></badge>
            <span class="far fa-question-circle wide-tooltip" title="Default text for when a participant shares their avatar on an Open Graph site such as Facebook" data-toggle="tooltip" data-placement="top"></span>
            <input asp-for="AvatarCardDescription" type="text" class="form-control" />
            <span asp-validation-for="AvatarCardDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-secondary">Return to List</a>
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
                class="btn btn-primary btn-spinner"
                button-spinner>
            <span class="buttonText">Save</span>
        </button>
    </div>
</form>