<div class="row my-4">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row"
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                value="Index"
                asp-action="Index" 
                class="nav-link">
                Programs</a>
            </li>
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                value="PointTranslations"
                asp-action="PointTranslations" 
                class="nav-link">
                Point Translations</a>
            </li>
        </ul>
    </div>
</div>