<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="Index"><a asp-action="Index">Programs</a></li>
            <li ActiveBy routeKey="Action" value="PointTranslations"><a asp-action="PointTranslations">Point Translations</a></li>
        </ul>
    </div>
</div>