<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Search" value="Default"><a asp-action="Bundles" asp-route-Search="Default">Default</a></li>
            <li ActiveBy routeKey="Search" value="Unlockable"><a asp-action="Bundles" asp-route-Search="Unlockable">Unlockable</a></li>
            <li ActiveBy routeKey="Search" value="Preconfigured"><a asp-action="Bundles" asp-route-Search="Preconfigured">Pre-configured Avatars</a></li>
        </ul>
    </div>
</div>