@model GRA.Controllers.ViewModel.MissionControl.Avatar.ItemsListViewModel

@if (Model.Items.Count() == 0)
{
    <div class="alert alert-warning">No available items found</div>
}
else
{
    <div>
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td width="100px">Thumbnail</td>
                    <td width="44px">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="itemRow">
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(item.Thumbnail))
                            {
                                <img class="img-thumbnail badge-xs"
                                     src="~/@item.Thumbnail?@DateTime.Now.ToString("yyMMddHHmmss")" />
                            }
                            else
                            {
                                <text>&nbsp;</text>
                            }
                        </td>
                        <td class="align-middle">
                            <button type="button"
                                    class="btn btn-outline-success btn-sm addItemButton"
                                    data-itemid="@item.Id">
                                <span class="fas fa-plus fa-fw" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <paginate paginateModel="@Model.PaginateModel" asButtons="true"></paginate>
}
