<div class="row row-spacing">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 join-header">
        <div class="col-xs-4" ActiveBy routeKey="Action" value="Step1">
            Step 1
        </div>
        <div class="col-xs-4" ActiveBy routeKey="Action" value="Step2">
            Step 2
        </div>
        <div class="col-xs-4" ActiveBy routeKey="Action" value="Step3">
            Step 3
        </div>
    </div>
</div>
