<div class="row row-spacing">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 join-header">
        <div class="col-4 sign-up-step" ActiveBy routeKey="Action" value="Step1">
            <p>@SharedLocalizer["Step {0}", 1]</p>
        </div>
        <div class="col-4 sign-up-step" ActiveBy routeKey="Action" value="Step2">
            <p>@SharedLocalizer["Step {0}", 2]</p>
        </div>
        <div class="col-4 sign-up-step" ActiveBy routeKey="Action" value="Step3">
            <p>@SharedLocalizer["Step {0}", 3]</p>
        </div>
    </div>
</div>
