<div class="row row-spacing">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 join-header">
        <div class="col-xs-4 sign-up-step" ActiveBy routeKey="Action" value="Step1">
            <p>Step 1</p>
        </div>
        <div class="col-xs-4 sign-up-step" ActiveBy routeKey="Action" value="Step2">
            <p>Step 2</p>
        </div>
        <div class="col-xs-4 sign-up-step" ActiveBy routeKey="Action" value="Step3">
            <p>Step 3</p>
        </div>
    </div>
</div>
