<div class="row mb-3 text-center">
    <div class="col-12 col-sm-4 px-3 py-1">
        <span class="fs-6 w-100 badge rounded-pill"
              ActiveBy
              routeKey="Action"
              value="Step1"
              appendClass="bg-success"
              inactiveClass="bg-secondary">
            @SharedLocalizer["Step {0}", 1]
        </span>
    </div>
    <div class="col-12 col-sm-4 px-3 py-1">
        <span class="fs-6 w-100 badge rounded-pill"
              ActiveBy
              routeKey="Action"
              value="Step2"
              appendClass="bg-success"
              inactiveClass="bg-secondary">
            @SharedLocalizer["Step {0}", 2]
        </span>
    </div>
    <div class="col-12 col-sm-4 px-3 py-1">
        <span class="fs-6 w-100 badge rounded-pill"
              ActiveBy
              routeKey="Action"
              value="Step3"
              appendClass="bg-success"
              inactiveClass="bg-secondary">
            @SharedLocalizer["Step {0}", 3]
        </span>
    </div>
</div>
