<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead"><grasite property="name"></grasite> - join now!</span>
            </div>
            <div class="panel-body">

            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button class="btn btn-primary btn-lg">
                        <span class="fa fa-book"></span> Join!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>