@model GRA.Controllers.ViewModel.Join.Step3ViewModel

<form asp-controller="Join" asp-action="Step3" method="post" role="form" novalidate>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="lead"><grasite property="name"></grasite> - Join Now!</span>
                </div>
                <div class="panel-body">
                    @Html.Partial("_MultiStepPartial")

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Username" class="control-label"></label>
                            <span id="Username-Icon" class="fa colored-icon hide"></span>
                            <input asp-for="Username" class="form-control" autofocus />
                            <span id="Username-Validation" asp-validation-for="Username" class="text-success"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <p>
                                Email and Phone Number are not required however at least one is needed in order to be eligible for prizes.
                            </p>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" type="tel" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-lg btn-spinner">
                            <span class="fa fa-book"></span> Join!
                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        $("#Username").on("blur", function () {
            if ($(this).val().trim() != "" && !$(this).hasClass("input-validation-error")) {
                $(this).val($(this).val().trim());
                var usernameCheckUrl = "@Url.Action("UsernameInUse", "Lookup", new { Area = string.Empty })";
                var icon = $("#Username-Icon");
                icon.removeClass("hide fa-times fa-check");
                icon.addClass("fa-spinner fa-spin");
                $.post(usernameCheckUrl, { username: $(this).val() }, function (response) {
                    if (response) {
                        $("#Username").removeClass("valid");
                        $("#Username").addClass("input-validation-error");
                        $("#Username-Validation").removeClass("field-validation-valid");
                        $("#Username-Validation").addClass("field-validation-error");
                        $("#Username-Validation").text("Someone has already chosen that username.");
                        icon.removeClass("fa-spinner fa-spin");
                        icon.addClass("fa-times");
                    }
                    else {
                        $("#Username-Validation").removeClass("field-validation-valid");
                        $("#Username-Validation").text("The chosen username is available.");
                        icon.removeClass("fa-spinner fa-spin");
                        icon.addClass("fa-check");
                    }
                });
            }
        });

        $("#Username").on("keypress", function () {
            $("#Username-Icon").addClass("hide");
        });
    </script>
}