@model GRA.Controllers.ViewModel.Join.Step2ViewModel

<form asp-controller="Join" asp-action="Step2" method="post" role="form" novalidate>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="lead"><grasite property="name"></grasite> - Join Now!</span>
                </div>
                <div class="panel-body">

                    @Html.Partial("_MultiStepPartial")

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="ProgramId" class="control-label"></label>
                            <select asp-for="ProgramId" asp-items="Model.ProgramList" class="form-control">
                                <option></option>
                            </select>
                            <span asp-validation-for="ProgramId" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="ageField" class="row row-spacing @(Model.ShowAge ? "": "hide")">
                        <div class="col-xs-12">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" type="text" />
                            <span id="ageMessage" asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="schoolFields" class="@(Model.ShowSchool ? "": "hide")">
                        @await Html.PartialAsync("_SchoolSelectionPartial", Model)
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-lg btn-spinner">
                            Final Step <span class="fa fa-arrow-right"></span>
                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        var programs = JSON.parse('@Html.Raw(Model.ProgramJson)');
        var selectedProgram = $.grep(programs, function(obj) {
            return obj.Id == $("#ProgramId").val();
        })[0];

        $("#ProgramId").on("change", function() {
            var programId = $(this).val();
            selectedProgram = $.grep(programs, function(obj) {
                return obj.Id == programId;
            })[0];
            if (selectedProgram != null)
            {
                if (selectedProgram.AskAge)
                {
                    $("#ageField").removeClass("hide");
                    validateAge();
                }
                else
                {
                    $("#ageField").addClass("hide");
                }

                if (selectedProgram.AskSchool)
                {
                    $("#schoolFields").removeClass("hide");
                }
                else
                {
                    $("#schoolFields").addClass("hide");
                }
            }
        });

        $("#Age").on("change", function() {
            validateAge();
        });

        function validateAge() {
            var age = $("#Age").val();
            var message = $("#ageMessage");
            if (age != "" && ((age > selectedProgram.AgeMaximum && selectedProgram.AgeMaximum != null)
                || (age < selectedProgram.AgeMinimum && selectedProgram.AgeMinimum != null)))
            {
                var program = $.grep(programs, function(obj) {
                    return ((obj.AgeMaximum >= age || obj.AgeMaximum == null)
                            && (obj.AgeMinimum <= age || obj.AgeMinimum == null));
                })[0];
                if (program != null)
                {
                    message.removeClass('field-validation-valid field-validation-error text-danger');
                    message.addClass('text-primary');
                    $("#Age").removeClass("input-validation-error")
                    message.text("The program " + program.Name + " may be better suited for your age.")
                }
            }
            else
            {
                message.text("");
            }
        }
    </script>
    @await Html.PartialAsync("_SchoolSelectionScripts", Model)
}