@model GRA.Controllers.ViewModel.MissionControl.Participants.BookAddViewModel

<form asp-controller="Participants" asp-action="AddBook" asp-route-id="@Model.Id" method="post" role="form">
    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Book.Title" class="control-label"></label>
            <input asp-for="Book.Title" class="form-control" />
            <span asp-validation-for="Book.Title" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Book.Author" class="control-label"></label>
            <input asp-for="Book.Author" class="form-control" />
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to Participants</a>
        <a asp-action="Books" asp-route-id="@Model.Id" class="btn btn-default">Return to Book List</a>
        <button type="submit" class="btn btn-primary btn-spinner">
            <span class="buttonText">Save Changes</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>