@model GRA.Controllers.ViewModel.MissionControl.Participants.ParticipantsDetailViewModel

@Html.Partial("_ParticipantPartial")

<form asp-controller="Participants" method="post" role="form">
    <input asp-for="Id" type="hidden" />
    <input asp-for="HouseholdCount" type="hidden" />
    <input asp-for="HasAccount" type="hidden" />

    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.FirstName" class="control-label"></label>
                    <input asp-for="User.FirstName" class="form-control" />
                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.LastName" class="control-label"></label>
                    <input asp-for="User.LastName" class="form-control" />
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.Email" class="control-label"></label>
                    <input asp-for="User.Email" class="form-control" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.PhoneNumber" class="control-label"></label>
                    <input asp-for="User.PhoneNumber" class="form-control" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.BranchId" class="control-label"></label>
                    <select asp-for="User.BranchId" asp-items="Model.BranchList" class="form-control"></select>
                    <span asp-validation-for="User.BranchId" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing" hidden>
                <div class="col-xs-12">
                    <label asp-for="User.ProgramId" class="control-label"></label>
                    <select asp-for="User.ProgramId" asp-items="Model.ProgramList" class="form-control"></select>
                    <span asp-validation-for="User.ProgramId" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing" hidden>
                <div class="col-xs-12">
                    <label asp-for="User.SystemId" class="control-label"></label>
                    <select asp-for="User.SystemId" asp-items="Model.SystemList" class="form-control"></select>
                    <span asp-validation-for="User.SystemId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to Participants</a>
        @if (Model.CanEditDetails)
        {
            <input asp-for="CanEditDetails" type="hidden" />
            <input asp-for="User.Id" type="hidden" />
            <input asp-for="User.AvatarId" type="hidden" />
            <input asp-for="User.CardNumber" type="hidden" />
            <input asp-for="User.CreatedAt" type="hidden" />
            <input asp-for="User.CreatedBy" type="hidden" />
            <input asp-for="User.HouseholdHeadUserId" type="hidden" />
            <input asp-for="User.IsAchiever" type="hidden" />
            <input asp-for="User.IsDeleted" type="hidden" />
            <input asp-for="User.IsLockedOut" type="hidden" />
            <input asp-for="User.LastAccess" type="hidden" />
            <input asp-for="User.PointsEarned" type="hidden" />
            <input asp-for="User.PostalCode" type="hidden" />
            <input asp-for="User.Username" type="hidden" />

            <button type="submit" asp-action="Detail" id="Submit" name="Submit" value="Submit" class="btn btn-primary btn-spinner">
                <span class="buttonText">Save Changes</span>
                <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
            </button>
        }
    </div>
</form>

@section scripts {
    <script>
        @if (!Model.CanEditDetails)
        {
        <text>
        $("input").prop('readonly', true);
        $("select").prop('disabled', true);
        </text>
        }
    </script>
}