@model GRA.Controllers.ViewModel.MissionControl.Participants.HouseholdRegisterViewModel

<form asp-controller="Participants" asp-action="RegisterHouseholdMember" method="post" role="form">
    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">

            <input asp-for="Id" type="hidden" />

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="Username" class="control-label"></label>
                    <span id="Username-Icon" class="fa colored-icon hide"></span>
                    <input asp-for="Username" class="form-control" autofocus />
                    <span id="Username-Validation" asp-validation-for="Username" class="text-success"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control ignore"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Household" asp-route-id="@Model.Id" class="btn btn-default">Return to Household</a>
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary btn-spinner">
            <span class="buttonText">Register Member</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>

@section scripts {
    <script>
        $.validator.setDefaults({
            ignore: ".ignore"
        });

        $("#Username").on("blur", function () {
            if ($(this).val().trim() != "" && !$(this).hasClass("input-validation-error")) {
                $(this).val($(this).val().trim());
                var usernameCheckUrl = "@Url.Action("UsernameInUse", "Lookup", new { Area = string.Empty })";
                var icon = $("#Username-Icon");
                icon.removeClass("hide fa-times fa-check");
                icon.addClass("fa-spinner fa-spin");
                $.post(usernameCheckUrl, { username: $(this).val() }, function (response) {
                    if (response) {
                        $("#Username").removeClass("valid");
                        $("#Username").addClass("input-validation-error");
                        $("#Username-Validation").removeClass("field-validation-valid");
                        $("#Username-Validation").addClass("field-validation-error");
                        $("#Username-Validation").text("Someone has already chosen that username.");
                        icon.removeClass("fa-spinner fa-spin");
                        icon.addClass("fa-times");
                    }
                    else {
                        $("#Username-Validation").removeClass("field-validation-valid");
                        $("#Username-Validation").text("The chosen username is available.");
                        icon.removeClass("fa-spinner fa-spin");
                        icon.addClass("fa-check");
                    }
                });
            }
        });

        $("#Username").on("keypress", function () {
            $("#Username-Icon").addClass("hide");
        });
    </script>
}