@model GRA.Controllers.ViewModel.MissionControl.Participants.LogActivityViewModel

@await Html.PartialAsync("_ParticipantPartial")

<form asp-controller="Participants" asp-action="LogActivity" method="post" role="form">
    <input asp-for="Id" type="hidden" />
    <input asp-for="HouseholdCount" type="hidden" />
    <input asp-for="PrizeCount" type="hidden" />
    <input asp-for="RoleCount" type="hidden" />
    <input asp-for="HasAccount" type="hidden" />
    <input asp-for="IsSecretCode" value="False" type="hidden" />

    <div class="row">
        @if (Model.HasPendingQuestionnaire)
        {
            <div class="col-12 mb-3">
                <div class="alert alert-warning">Activity cannot be logged while there is a pending questionnaire to be taken.</div>
            </div>
        }
        else
        {
            <div class="col-12 col-sm-6 col-lg-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Log
                            @if (Model.PointTranslation.IsSingleEvent)
                            {
                                <span>
                                    @($"{Model.PointTranslation.TranslationDescriptionPastTense.Replace("{0}", "1")} {Model.PointTranslation.ActivityDescription}")
                                </span>
                            }
                            else
                            {
                                <span>
                                    @Model.PointTranslation.ActivityDescriptionPlural
                                </span>
                            }
                        </h5>
                        <p class="card-text">
                            @if (!Model.PointTranslation.IsSingleEvent)
                            {
                                <input asp-for="ActivityAmount" value="" type="number" class="form-control mt-3" />
                                <span asp-validation-for="ActivityAmount"
                                      class="text-danger d-block"></span>
                            }
                            <button type="submit"
                                    class="btn btn-outline-primary mt-3"
                                    button-spinner>
                                @if (Model.PointTranslation.IsSingleEvent)
                                {
                                    <span>
                                        Apply
                                        @($"{Model.PointTranslation.TranslationDescriptionPastTense.Replace("{0}", "1")} {Model.PointTranslation.ActivityDescription}")
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        Apply
                                        @Model.PointTranslation.ActivityDescriptionPlural
                                    </span>
                                }
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            @if (!Model.DisableSecretCode)
            {

                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Secret Code</h5>
                            <p class="card-text">
                                <input asp-for="SecretCode"
                                       value=""
                                       class="form-control codeInput mt-3" />
                                <span asp-validation-for="SecretCode"
                                      class="text-danger d-block"></span>
                                <button type="submit"
                                        class="btn btn-outline-primary codeButton mt-3"
                                        button-spinner>
                                    <span class="buttonText">Apply Secret Code</span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            }
            @if (Model.VendorCodeTypeList?.Count() > 0)
            {
                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vendor Code</h5>
                            <p class="card-text">
                                <select asp-for="VendorCodeTypeId"
                                        asp-items="Model.VendorCodeTypeList"
                                        class="form-select mt-3">
                                    <option></option>
                                </select>
                                <span asp-validation-for="VendorCodeTypeId"
                                      class="text-danger d-block"></span>
                                <button type="submit"
                                        asp-action="AwardVendorCode"
                                        class="btn btn-outline-primary mt-3"
                                        button-spinner>
                                    <span class="buttonText">Apply Vendor Code</span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="mb-3 d-flex justify-content-end">
        <a asp-action="Index" class="btn btn-outline-secondary">Return to Participants</a>
    </div>
</form>

@section scripts
{
    <script>
        $(".codeInput").on("keypress", function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                $("#IsSecretCode").val("True");
                $("form").submit();
            }
        });

        $(".codeButton").on("click", function (e) {
            e.preventDefault();
            $("#IsSecretCode").val("True");
            $("form").submit();
        });
    </script>
}