@model GRA.Controllers.ViewModel.MissionControl.Participants.PasswordResetViewModel

@await Html.PartialAsync("_ParticipantPartial")

@if (!Model.HasAccount)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning">Participant does not have an individual account</div>
        </div>
    </div>
    <div class="mb-3">
        <a asp-action="Index" class="btn btn-outline-secondary">Return to Participants</a>
    </div>
}
else
{
    <form asp-controller="Participants" asp-action="PasswordReset" method="post" role="form">
        <div class="row">
            <div class="col-12">
                <input asp-for="Id" type="hidden" />
                <input asp-for="HouseholdCount" type="hidden" />
                <input asp-for="HeadOfHouseholdId" type="hidden" />
                <input asp-for="HasAccount" type="hidden" />
                <div class="row mb-3">
                    <div class="col-12">
                        <label asp-for="NewPassword" class="col-form-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <a asp-action="Index" 
            class="btn btn-outline-secondary">Return to Participants</a>
            <button type="submit" 
                class="btn btn-outline-primary ms-auto">Reset Password</button>
        </div>
    </form>
}

