@model String

<div class="row">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4">Prizes have been updated!</h1>
                </div>
                <div class="modal-body text-right">
                    <a href="@Model" class="btn btn-secondary">Return</a>
                </div>
            </div>
        </div>
</div>