@model String

<div class="row">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Prizes have been updated!</h4>
                </div>
                <div class="modal-body">
                    <a href="@Model" class="btn btn-default">Return</a>
                </div>
            </div>
        </div>
</div>