@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportCriteriaViewModel

<form asp-controller="Reporting"
      asp-action="Run" method="post"
      role="form"
      class="form-horizontal"
      style="margin-top: 2rem; margin-bottom: 2rem;">
    <input asp-for="ReportId" type="hidden" />
    <div class="mb-3">
        <div class="col-12">
            <label asp-for="EndDate" class="col-form-label"></label>
            <div class="mb-3 date" id="pickerEnd">
                <input asp-for="EndDate" type="date" class="form-control"/>
            </div>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
                <span class="fas fa-file-alt"></span>
                Run Report!
            </button>
        </div>
    </div>
</form>

