@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportCriteriaViewModel

<form asp-controller="Reporting"
      asp-action="Run" method="post"
      role="form"
      class="form-horizontal"
      style="margin-top: 2rem; margin-bottom: 2rem;">
    <input asp-for="ReportId" type="hidden" />
    <div class="form-group">
        <div class="col-xs-12">
            <badge asp-for="EndDate" class="col-form-label"></badge>
            <div class="input-group date" id="pickerEnd">
                <span class="input-group-addon">
                    <span class="fas fa-calendar-alt"></span>
                </span>
                <input asp-for="EndDate" type="text" class="form-control" />
            </div>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">
                <span class="fas fa-file-alt"></span>
                Run Report!
            </button>
        </div>
    </div>
</form>

@section scripts
{
    <script>
        $('[id^=picker]').datetimepicker({
            format: 'MM/DD/YYYY h:mm a',
            allowInputToggle: true,
            defaultDate: new Date().toDateString(),
            sideBySide: true,
            icons: {
                time: "far fa-clock",
                date: "fas fa-calendar-alt",
                up: "fas fa-arrow-up",
                down: "fas fa-arrow-down",
                previous: "fas fa-arrow-left",
                next: "fas fa-arrow-right"
            }
        });
    </script>
}
