@model IEnumerable<GRA.Domain.Model.ReportDetails>

<table class="table table-condensed table-bordered table-striped" style="margin-top: 2rem;">
    <thead>
        <tr>
            <th>Report Name</th>
            <th>Report Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td><a asp-action="Configure" asp-route-id="@report.Id">@report.Name</a></td>
                <td>@report.Description</td>
            </tr>
        }
    </tbody>
</table>
