@model IEnumerable<GRA.Domain.Model.ReportDetails>

<table class="table table-condensed table-bordered table-striped" style="margin-top: 2rem;">
    <thead>
        <tr>
            <th>Report Name</th>
            <th>Report Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var report in Model)
            {
                <td><a href="@Url.Action("Configure", new { id = report.Id })">@report.Name</a></td>
                <td>@report.Description</td>
            }
        </tr>
    </tbody>
</table>
