@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportCriteriaViewModel

<form asp-action="@nameof(ReportingController.Run)"
      class="form-horizontal"
      method="post"
      role="form">
    <input asp-for="ReportId" type="hidden" />

    <div class="row mt-4">
        <div class="col-12">
            <label asp-for="SchoolDistrictId" class="col-form-label"></label>
            <select asp-for="SchoolDistrictId" asp-items="Model.SchoolDistrictList" class="form-select">
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <label asp-for="SchoolId" class="col-form-label"></label>
            <select asp-for="SchoolId" asp-items="Model.SchoolList" class="form-select">
                <option></option>
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
                <span class="fas fa-file-alt fa-fw"></span>
                Run Report!
            </button>
        </div>
    </div>
</form>

@section scripts {
    <script>
        const getSchoolsUrl = "@Url.Action(nameof(GRA.Controllers.LookupController.GetSchools), GRA.Controllers.LookupController.Name, new { Area = string.Empty })";
        const schoolList = $("#SchoolId");

        $("#SchoolDistrictId").on("change", function() {
            let districtId = $(this).val();
            let schoolId = schoolList.val();

            $.getJSON(getSchoolsUrl, { districtId: districtId, schoolId: schoolId }, function(response) {
                schoolList.empty();
                schoolList.append(new Option("", ""));
                $.each(response, function(index, item) {
                    schoolList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });
    </script>
}