@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportCriteriaViewModel

<form asp-action="Run"
        asp-controller="Reporting" 
        class="form-horizontal"
        method="post" 
        role="form">
    <input asp-for="ReportId" type="hidden" />

    <div class="row mt-4">
        <div class="col-12">
            <button type="button" 
                class="btn btn-outline-secondary time-selector" 
                id="entireProgram">Entire program</button>
            <button type="button" 
                class="btn btn-outline-secondary time-selector" 
                id="thisWeek">Last 7 days</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 my-2">
            <label asp-for="StartDate" class="col-form-label"></label>
            <input asp-for="StartDate" type="datetime-local" class="form-control"/>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="col-12 col-sm-6 my-2">
            <label asp-for="EndDate" class="col-form-label"></label>
            <input asp-for="EndDate" type="datetime-local" class="form-control"/>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <label asp-for="SystemId" class="col-form-label"></label>
            <select asp-for="SystemId" asp-items="Model.SystemList" class="form-select">
                <option value="">All systems</option>
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
                <span class="fas fa-file-alt"></span>
                Run Report!
            </button>
        </div>
    </div>
</form>

@section scripts
{
    <script>
        document.getElementById("entireProgram").addEventListener("click", _ => {
            document.getElementById('EndDate').value = null;
            document.getElementById('StartDate').value = null;
        });

        document.getElementById("thisWeek").addEventListener("click", _ => {
            let defaultDateTime = graGetLocalDate();
            defaultDateTime.setDate(defaultDateTime.getDate() - 1);
            document.getElementById('EndDate').value = defaultDateTime.toISOString().slice(0, 16);
            defaultDateTime.setDate(defaultDateTime.getDate() - 7);
            document.getElementById('StartDate').value = defaultDateTime.toISOString().slice(0, 16);
        });

        $().ready(function () {
            let defaultDateTime = graGetLocalDate();
            defaultDateTime.setDate(defaultDateTime.getDate() - 1);
            document.getElementById('EndDate').value = defaultDateTime.toISOString().slice(0, 16);
            defaultDateTime.setDate(defaultDateTime.getDate() - 1);
            document.getElementById('StartDate').value = defaultDateTime.toISOString().slice(0, 16);
        });
    </script>
}