@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportCriteriaViewModel

<form asp-action="@nameof(ReportingController.Run)"
      class="form-horizontal"
      method="post"
      role="form">
    <input asp-for="ReportId" type="hidden" />

    <div class="row mt-4">
        <div class="col-12">
            <label asp-for="SystemId" class="col-form-label"></label>
            <select asp-for="SystemId" asp-items="Model.SystemList" class="form-select">
                <option></option>
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <label asp-for="BranchId" class="col-form-label">Select a pick-up branch</label>
            <select asp-for="BranchId" asp-items="Model.BranchList" class="form-select">
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
                <span class="fas fa-file-alt fa-fw"></span>
                Run Report!
            </button>
        </div>
    </div>
</form>

@section scripts
{
    <script>
        const branchList = $("#BranchId");
        const url = "@Url.Action(nameof(GRA.Controllers.LookupController.GetBranches), GRA.Controllers.LookupController.Name, new { Area = string.Empty })";

        $("#SystemId").on("change", function() {
            var systemId = $(this).val();
            var branchId = branchList.val();

            $.getJSON(url, { systemId: systemId, branchId: branchId, listAll: "true", includeSystemName: "true" }, function(response) {
                branchList.empty();
                $.each(response, function(index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });
    </script>
}