@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportCriteriaViewModel

<form asp-action="@nameof(ReportingController.Run)"
      class="form-horizontal"
      method="post"
      role="form">
    <input asp-for="ReportId" type="hidden" />

    <div class="row mt-4">
        <div class="col-12">
            <label asp-for="SystemId" class="col-form-label"></label>
            <select asp-for="SystemId" asp-items="Model.SystemList" class="form-select">
                <option></option>
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <label asp-for="BranchId" class="col-form-label"></label>
            <select asp-for="BranchId" asp-items="Model.BranchList" class="form-select">
                <option></option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 my-2">
            <label asp-for="StartDate" class="col-form-label"></label>
            <div datetimepicker-container id="startDatePicker">
                <input asp-for="StartDate" datetimepicker-input type="text" />
            </div>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="col-12 col-sm-6 my-2">
            <label asp-for="EndDate" class="col-form-label"></label>
            <div datetimepicker-container id="endDatePicker">
                <input asp-for="EndDate" datetimepicker-input type="text" />
            </div>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
                <span class="fas fa-file-altfa-fw"></span>
                Run Report!
            </button>
        </div>
    </div>
</form>

@section scripts
{
    <script>
        const branchList = $("#BranchId");
        const endDatePicker = graInitalizePickerDatetime(document.getElementById("endDatePicker"));
        const startDatePicker = graInitalizePickerDatetime(document.getElementById("startDatePicker"));
        const url = "@Url.Action(nameof(GRA.Controllers.LookupController.GetBranches), GRA.Controllers.LookupController.Name, new { Area = string.Empty })";

        var defaultDateTime = graGetLocalDate();

        $("#SystemId").on("change", function() {
            var systemId = $(this).val();
            var branchId = branchList.val();

            $.getJSON(url, { systemId: systemId, branchId: branchId }, function(response) {
                branchList.empty();
                if (response.length > 1)
                {
                    branchList.append(new Option("All Branches", ""));
                }
                $.each(response, function(index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });

        document.getElementById("entireProgram").addEventListener("click", _ => {
            startDatePicker.clear();
            endDatePicker.clear();
        });

        document.getElementById("thisWeek").addEventListener("click", _ => {
            defaultDateTime = graGetLocalDate();
            defaultDateTime.setDate(defaultDateTime.getDate() - 1);
            graPickerSetDate(endDatePicker, defaultDateTime);
            defaultDateTime.setDate(defaultDateTime.getDate() - 7);
            graPickerSetDate(startDatePicker, defaultDateTime);
        });

        defaultDateTime.setDate(defaultDateTime.getDate() - 1);
        graPickerSetDate(endDatePicker, defaultDateTime);
        defaultDateTime.setDate(defaultDateTime.getDate() - 1);
        graPickerSetDate(startDatePicker, defaultDateTime);
    </script>
}

