@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportCriteriaViewModel

<form asp-controller="Reporting" asp-action="Run" method="post" role="form" class="form-horizontal" style="margin-top: 2rem; margin-bottom: 2rem;">
    <input asp-for="ReportId" type="hidden" />

    <div class="mb-3">
        <div class="col-xs-12">
            <badge asp-for="SystemId" class="col-form-label"></badge>
            <select asp-for="SystemId" asp-items="Model.SystemList" class="form-control">
                <option></option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <div class="col-xs-12">
            <badge asp-for="BranchId" class="col-form-label"></badge>
            <select asp-for="BranchId" asp-items="Model.BranchList" class="form-control">
                <option></option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <div class="col-xs-12">
            <badge asp-for="ProgramId" class="col-form-label"></badge>
            <select asp-for="ProgramId" asp-items="Model.ProgramList" class="form-control">
                <option></option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">
                <span class="fas fa-file-alt"></span>
                Run Report!
            </button>
        </div>
    </div>
</form>

@section scripts
{
    <script>
        $("#SystemId").on("change", function() {
            var systemId = $(this).val();
            var branchList = $("#BranchId");
            var branchId = branchList.val();
            var url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { systemId: systemId, branchId: branchId }, function(response) {
                branchList.empty();
                if (response.length > 1)
                {
                    branchList.append(new Option("All Branches", ""));
                }
                $.each(response, function(index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });
    </script>
}