@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportCriteriaViewModel

<form asp-action="@nameof(ReportingController.Run)"
      asp-controller="@ReportingController.Name"
      class="form-horizontal"
      method="post"
      role="form">
    <input asp-for="ReportId" type="hidden" />

    <div class="row mt-4">
        <div class="col-12">
            <label asp-for="SystemId" class="col-form-label"></label>
            <select asp-for="SystemId" asp-items="Model.SystemList" class="form-select">
                <option value="">All systems</option>
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
                <span class="fas fa-file-alt"></span>
                Run Report!
            </button>
        </div>
    </div>
</form>