@model GRA.Controllers.ViewModel.Home.DashboardViewModel

<div class="row" style="font-size: larger;">
    <div class="col-sm-3" style="text-align: center;">
        <p>
            @if (!string.IsNullOrEmpty(Model.AvatarPath))
            {
                <a asp-controller="Avatar" asp-action="Index">
                    <img src="~/@Model.AvatarPath"
                         asp-append-version="true"
                         width="200" />
                </a>
            }
            else
            {
                <a asp-controller="Avatar" asp-action="Index">
                    <span class="fa fa-user" style="font-size: 10em;"></span>
                </a>
            }
        </p>
        <p style="font-size: x-large;">You have <strong>@Model.CurrentPointTotal points</strong>.</p>
        <p>See your <a asp-controller="Profile" asp-action="History">activity history</a>.</p>
    </div>
    <div class="col-sm-6">
        <p style="text-align: center; font-size: x-large;">Welcome <strong>@Model.FirstName!</strong></p>
        @if ((GRA.Domain.Model.SiteStage)Context.Items[GRA.Controllers.ItemKey.SiteStage] == GRA.Domain.Model.SiteStage.ProgramOpen)
        {
            <div class="well">
                <form asp-controller="Home" asp-action="LogBook" method="post" role="form">
                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Author" class="control-label"></label>
                            <input asp-for="Author" class="form-control" />
                        </div>
                    </div>

                    <button type="submit" class="btn center-block btn-success btn-lg btn-spinner-no-validate">
                        <span class="buttonText">I read a book!</span>
                        <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                    </button>
                </form>
            </div>
        }
        else
        {
            @: <p style="text-align:center;">You will be able to log books once the program opens</p>
        }
    </div>
    <div class="col-sm-3" style="text-align: center;">
        <p style="font-size: x-large;"><a asp-controller="Profile" asp-action="History">Your badges</a></p>
        <div class="row">
            @if (Model.Badges.Count() > 0)
            {
                foreach (var badge in Model.Badges)
                {
                    <div class="col-sm-6 col-xs-4" style="padding: 0 5px 10px 5px;"><img class="img-thumbnail badge-sm" src="~/@badge.Filename" asp-append-version="true" /></div>
                }
            }
            else
            {
                <p>Complete <a asp-controller="Challenges" asp-action="Index">Challenges</a> to earn badges!</p>
            }
        </div>
    </div>
</div>