<div class="row" style="font-size: larger;">
    <div class="col-sm-3" style="text-align: center;">
        <p><span class="fa fa-user" style="font-size: 10em;"></span><br /></p>
        <p style="font-size: x-large;">You have <strong>x points</strong>.</p>
        <p>See my <a href="">activity history</a>.</p>
    </div>
    <div class="col-sm-6">
        <p style="text-align: center; font-size: x-large;">Welcome <strong>person!</strong></p>
        <p style="text-align: center;">Log reading <strong>here</strong>.</p>
    </div>
    <div class="col-sm-3" style="text-align: center;">
        <p>My badges</p>
        <div class="row">
            <div class="col-sm-4"><span class="fa fa-certificate" style="font-size: 4em;"></span></div>
            <div class="col-sm-4"><span class="fa fa-plane" style="font-size: 4em;"></span></div>
            <div class="col-sm-4"><span class="fa fa-calendar" style="font-size: 4em;"></span></div>
            <div class="col-sm-4"><span class="fa fa-book" style="font-size: 4em;"></span></div>
            <div class="col-sm-4"><span class="fa fa-cloud" style="font-size: 4em;"></span></div>
        </div>
    </div>
</div>