@model GRA.Controllers.ViewModel.Home.AccessClosedViewModel
@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div>
    <h1>The access closed - spanish </h1>
</div>