@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div>
    @SharedLocalizer[GRA.Annotations.Home.ProgramEndedSalutation]
</div>