@model GRA.Controllers.ViewModel.Home.BeforeRegistrationViewModel
@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div>
    <h1>The before registration - spanish </h1>
</div>