@model GRA.Controllers.ViewModel.Home.ProgramOpenViewModel
@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div>
    @if (Model.UsersBranch != null)
    {
        @SharedLocalizer[GRA.Annotations.Home.ProgramOpenSalutation, Model.UsersBranch.Url, Model.UsersBranch.Name]
    }
</div>
