@model GRA.Controllers.ViewModel.Challenges.ChallengesListViewModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">Challenges</span>
            </div>
            <div class="panel-body">
                <form asp-controller="Challenges" asp-action="Index" method="get" role="form">
                    <div class="row row-spacing">
                        <div class="col-xs-10">
                            <input asp-for="Search"
                                   class="form-control"
                                   placeholder="Enter text to search for a challenge here" />
                        </div>
                        <div class="col-xs-2">
                            <input type="submit"
                                   value="Search"
                                   class="btn btn-default btn-block" />
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-xs-12">
                        @if (Model.Challenges.Count() == 0)
                        {
                            <div class="alert alert-warning">No Challenges</div>
                        }
                        else
                        {
                            <div>
                                <table class="table table-condensed table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Points you'll earn</th>
                                            <th>Badge</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var challenge in Model.Challenges)
                                        {
                                            <tr>
                                                <td style="vertical-align:middle;"><a asp-action="Detail" asp-route-id="@challenge.Id">@challenge.Name</a></td>
                                                <td style="font-size:large; text-align:center; vertical-align:middle;">@challenge.PointsAwarded</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(challenge.BadgeFilename))
                                                    {
                                                        <div style="text-align:center;">
                                                            <img class="img-thumbnail badge-sm" src="~/@challenge.BadgeFilename" asp-append-version="true" />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @: &nbsp;
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (Model.PaginateModel.MaxPage > 1)
                            {
                                <paginate paginateModel="@Model.PaginateModel"></paginate>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>