@model GRA.Controllers.ViewModel.Shared.SchoolSelectionViewModel

<noscript>
    <style>
        select.selectpicker {
            display: block !important;
        }
    </style>
</noscript>

<div id="schoolGroup" class="row row-spacing">
    <div class="col-xs-12">
        <label asp-for="SchoolId" class="control-label"></label>
        <select asp-for="SchoolId" asp-items="Model.SchoolList" class="selectpicker form-control" data-live-search="true" data-none-selected-text="">
            <option></option>
        </select>
        <span asp-validation-for="SchoolId" class="text-danger"></span>
    </div>
</div>

<div class="row row-spacing">
    <div class="col-xs-12">
        <input asp-for="IsHomeschooled" class="school-selection-checkbox" />
        <label asp-for="IsHomeschooled">Homeschooled</label>

        <input asp-for="SchoolNotListed" class="school-selection-checkbox" />
        <label asp-for="SchoolNotListed">School not listed</label>
    </div>
</div>