@model GRA.Controllers.ViewModel.Shared.SchoolSelectionViewModel

<noscript>
    <style>
        select.selectpicker {
            display: block !important;
        }
    </style>
</noscript>

<div id="schoolGroup" class="row row-spacing">
    <div class="col-xs-12">
        <badge class="col-form-label">@SharedLocalizer[GRA.Domain.Model.DisplayNames.School]</badge>
        <select asp-for="SchoolId" asp-items="Model.SchoolList" class="selectpicker form-control" data-live-search="true" data-none-selected-text="">
            <option></option>
        </select>
        <span asp-validation-for="SchoolId" class="text-danger"></span>
    </div>
</div>

<div class="row row-spacing">
    <div class="col-xs-12">
        <input asp-for="IsHomeschooled" class="school-selection-checkbox" />
        <badge asp-for="IsHomeschooled">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Homeschooled]</badge>
        <input asp-for="SchoolNotListed" class="school-selection-checkbox" />
        <badge asp-for="SchoolNotListed">@SharedLocalizer[GRA.Domain.Model.DisplayNames.SchoolNotListed]</badge>
    </div>
</div>
