@{
    ViewData[GRA.Controllers.ViewDataKey.Title] = "Error";
}

@section styles {
    <style>
        p {
            margin-bottom: 2rem;
            line-height: 3rem;
            font-size: larger;
        }
    </style>
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h3 text-danger"><strong>That didn't work right!</strong></span>
            </div>
            <div class="panel-body">
                <p>
                    Something seems to have gone wrong while loading the page you requested.
                    Sorry about that! Please wait a little bit and try again.
                </p>
                <p>
                    If you continue to have this problem, please
                    <a asp-controller="Mail" asp-action="Send">send us a mail</a>
                    and let us know what you were trying to do and where it went wrong!
                </p>
            </div>
        </div>
    </div>
</div>
