@model GRA.Controllers.ViewModel.Mail.MailCreateViewModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-header">
                <span class="lead">@SharedLocalizer[GRA.Annotations.Title.SendMail]</span>
            </div>
            <div class="card-body">
                <form asp-controller="Mail" asp-action="Send" method="post" role="form">
                    <div class="row row-spacing">
                        <div class="col-sm-10 col-sm-offset-1">
                            <label asp-for="Subject" class="col-form-label"></label>
                            <input asp-for="Subject" class="form-control" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-sm-10 col-sm-offset-1">
                            <label asp-for="Body" class="col-form-label"></label>
                            <textarea asp-for="Body" class="form-control"></textarea>
                            <span asp-validation-for="Body" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <a asp-action="Index" class="btn btn-secondary">
                                @SharedLocalizer[GRA.Annotations.Interface.BackToMailbox]
                            </a>
                            <button type="submit" class="btn btn-primary">
                                @SharedLocalizer[GRA.Annotations.Interface.SendMail]
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>