@model GRA.Domain.Model.Questionnaire

<form asp-controller="Questionnaires" asp-action="Create" method="post" role="form">
    <div class="row row-spacing">
        <div class="col-xs-12">
            <badge asp-for="Name" class="col-form-label"></badge>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <a asp-action="Index" class="btn btn-secondary">Return to List</a>
        <button type="submit" class="btn btn-primary" button-spinner>
            <span class="buttonText">Create Questionnaire</span>
        </button>
    </div>
</form>