<div class="row my-4">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                value="Index"
                asp-action="Index"
                class="nav-link">
                Unhandled</a>
            </li>
            <li class="nav-item">
                <a ActiveBy routeKey="Action" 
                value="ViewAll" 
                asp-action="ViewAll"
                class="nav-link">
                View All Non-Broadcast</a>
            </li>
            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.SendBroadcastMail.ToString()))
            {
                <li class="nav-item">
                    <a ActiveBy routeKey="Action"
                    value="Broadcasts"
                    asp-action="Broadcasts"
                    class="nav-link">
                    Broadcasts</a>
                </li>
            }
        </ul>
    </div>
</div>