<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="Index"><a asp-action="Index">Unhandled</a></li>
            <li ActiveBy routeKey="Action" value="ViewAll"><a asp-action="ViewAll">View All Non-Broadcast</a></li>
            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.SendBroadcastMail.ToString()))
            {
                <li ActiveBy routeKey="Action" value="Broadcasts"><a asp-action="Broadcasts">Broadcasts</a></li>
            }
        </ul>
    </div>
</div>