@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerManagementPartialViewModel

@if (Model.PerformerSchedulingEnbabled)
{
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills" style="padding: 10px 0;">
                <li ActiveBy routeKey="Action" value="Index"><a asp-action="Index">Performers</a></li>
                <li ActiveBy routeKey="Action" value="Schedule"><a asp-action="Schedule">Schedule</a></li>
                <li ActiveBy routeKey="Action" value="BlackoutDates"><a asp-action="BlackoutDates">Blackout Dates</a></li>
            </ul>
        </div>
    </div>
}
