@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerCoversheetViewModel

@section styles {
    <link rel="stylesheet" href="/css/performercoversheet.min.css" />
}

<div class="performer-coversheet-container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1>Create a Coversheet</h1>
                <h3 class="mb-3">Performer: @Model.PerformerName</h3>
            </div>
            <form asp-controller="PerformerManagement" asp-action="PrintCoverSheet" method="post">
                <div class="col-12 col-sm-6 offset-sm-3 mb-3">
                    <label for="month">Invoice Month: </label>
                    <select class="form-select" name="month" asp-items="@Model.Months"></select>
                </div>
                <div class="col-12 col-sm-6 offset-sm-3 mb-3">
                    <label for="invoiceNumber">Invoice Number: </label>
                    <input class="form-control" id="invoice-input" name="invoiceNumber" type="text" />
                </div>
                <div class="col-12 col-sm-6 offset-sm-3 mb-3">
                    <input name="id" type="number" value="@Model.PerformerId" hidden />
                    <button type="button" class="btn btn-outline-secondary" asp-controller="PerformerManagement" asp-action="Performers">Cancel</button>
                    <button id="submit-button" type="submit" class="btn btn-outline-primary" disabled>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = () => {
        const submitButton = document.querySelector("#submit-button");
        document.querySelector("#invoice-input").addEventListener("input", (e) => {
            e.target.value == "" ? submitButton.disabled = true : submitButton.disabled = false;
        })
    }
</script>