@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.SettingsViewModel

@await Html.PartialAsync("_PerformerManagementPartial")

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}

<h4>Fields marked with an asterisk (*) are required.</h4>

<form asp-controller="PerformerManagement" asp-action="Settings" method="post" role="form">
    <div class="mb-3">
        <label asp-for="Settings.ContactEmail" class="col-form-label required-field"></label>
        <input asp-for="Settings.ContactEmail" class="form-control" />
        <span asp-validation-for="Settings.ContactEmail" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Settings.SelectionsPerBranch" class="col-form-label required-field"></label>
        <input asp-for="Settings.SelectionsPerBranch" class="form-control" />
        <span asp-validation-for="Settings.SelectionsPerBranch" class="text-danger"></span>
    </div>

    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="Settings.RegistrationOpen" class="col-form-label required-field"></label>
            <div class="mb-3 date datetimepicker">
                @* timepicker *@
                <input asp-for="Settings.RegistrationOpen" type="datetime-local" class="form-control"  />
            </div>
            <span asp-validation-for="Settings.RegistrationOpen" class="text-danger"></span>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="Settings.RegistrationClosed" class="col-form-label required-field"></label>
            <div class="mb-3 date datetimepicker">
                @* timepicker *@
                <input asp-for="Settings.RegistrationClosed" type="datetime-local" class="form-control"  />
            </div>
            <span asp-validation-for="Settings.RegistrationClosed" class="text-danger"></span>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="Settings.SchedulingPreview" class="col-form-label required-field"></label>
            <div class="mb-3 date datetimepicker">
                @* timepicker *@
                <input asp-for="Settings.SchedulingPreview" type="datetime-local" class="form-control"/>
            </div>
            <span asp-validation-for="Settings.SchedulingPreview" class="text-danger"></span>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="Settings.SchedulingOpen" class="col-form-label required-field"></label>
            <div class="mb-3 date datetimepicker">
                @* timepicker *@
                <input asp-for="Settings.SchedulingOpen" type="datetime-local" class="form-control"/>
            </div>
            <span asp-validation-for="Settings.SchedulingOpen" class="text-danger"></span>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="Settings.SchedulingClosed" class="col-form-label required-field"></label>
            <div class="mb-3 date datetimepicker">
                @* timepicker *@
                <input asp-for="Settings.SchedulingClosed" type="datetime-local" class="form-control"/>
            </div>
            <span asp-validation-for="Settings.SchedulingClosed" class="text-danger"></span>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="Settings.SchedulePosted" class="col-form-label required-field"></label>
            <div class="mb-3 date datetimepicker"> @* timepicker *@
                <input asp-for="Settings.SchedulePosted" type="datetime-local" class="form-control"/>
            </div>
            <span asp-validation-for="Settings.SchedulePosted" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="Settings.ScheduleStartDate" class="col-form-label required-field"></label>
            <div class="mb-3 date">
                <input asp-for="Settings.ScheduleStartDate" type="datetime-local" class="form-control"/>
            </div>
            <span asp-validation-for="Settings.ScheduleStartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="Settings.ScheduleEndDate" class="col-form-label required-field"></label>
            <div class="mb-3 date">
                <input asp-for="Settings.ScheduleEndDate" type="datetime-local" class="form-control"  />
            </div>
            <span asp-validation-for="Settings.ScheduleEndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Settings.VendorIdPrompt" class="col-form-label"></label>
        <input asp-for="Settings.VendorIdPrompt" class="form-control" />
        <span asp-validation-for="Settings.VendorIdPrompt" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Settings.VendorCodeFormat" class="col-form-label"></label>
        <input asp-for="Settings.VendorCodeFormat" class="form-control" />
        <span asp-validation-for="Settings.VendorCodeFormat" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Settings.BranchAvailabilitySupplementalText" class="col-form-label"></label>
        <input asp-for="Settings.BranchAvailabilitySupplementalText" class="form-control" />
        <span asp-validation-for="Settings.BranchAvailabilitySupplementalText" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Settings.SetupSupplementalText" class="col-form-label"></label>
        <input asp-for="Settings.SetupSupplementalText" class="form-control" />
        <span asp-validation-for="Settings.SetupSupplementalText" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="col-form-label">Questions</label>
        <div class="form-control-plaintext">Configure questions about livestreaming and insurance in
            <a asp-controller="@GRA.Controllers.MissionControl.SitesController.Name"
               asp-action="@nameof(GRA.Controllers.MissionControl.SitesController.Settings)"
               asp-route-id="@Model.SiteId"
               asp-fragment="@nameof(GRA.SiteSettingKey.Performer)"
            target="_blank">Site Settings</a>
        </div>
    </div>

    <div class="mb-3" style="margin-top: 2rem;">
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
                class="btn btn-primary btn-spinner"
                button-spinner>
            <span class="buttonText">Save</span>
        </button>
    </div>
</form>
