.mc-alertrow {
    margin-top: 1em;
}

.news-post-content p {
    margin-bottom: 1rem;
}

.news-post-content img {
    max-width: 100%;
}

.news-post-content figure {
    margin-bottom: 16px;
}

.news-post-content figcaption {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    padding: 0.5em 0;
    font-size: 1.6rem;
}

.ataglance-pill {
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
    background-color: dimgray;
    color: white;
}

@media only screen and (min-width : 768px) {
    .ataglance-pill {
        font-size: 1.2rem;
    }
}


.ataglance-pill-filtered {
    background-color: rebeccapurple;
    color: white;
}

.ataglance-pill-site {
    background-color: teal;
    color: white;
}

.ataglance-filtered, .ataglance-filtered .list-group-item {
    border-color: rebeccapurple;
    color: rebeccapurple;
}

    .ataglance-filtered .card-header, .ataglance-filtered .card-footer {
        background-color: rebeccapurple;
        color: white;
    }

.ataglance-site, .ataglance-site .list-group-item {
    border-color: teal;
    color: teal;
}

    .ataglance-site .card-header, .ataglance-site .card-footer {
        background-color: teal;
        color: white;
    }


.badge-maker {
    position: relative;
    top: -10px;
    border: none;
    width: 100%;
    height: 700px;
}

.orderable-row {
    height: 46px;
    line-height: 32px;
    padding: 5px 15px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    cursor: move;
}

.gra-tab-pane {
    border-start: 1px solid #ddd;
    border-end: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

.gra-nav-tabs {
    margin-bottom: 0;
}

body#mission-control-body {
    background: white;
}

table > tbody > tr > td.gra-mc-icon {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.move-right {
    float: right;
    margin-left: 20px;
}

.move-left {
    float: left;
    margin-right: 20px;
}

.mc-mail-incoming-count {
    background-color: #a94442;
}

.mc-news-card-footer {
    font-size: small;
    padding: 5px 15px;
}

.mc-filtered-asof-container, .mc-site-asof-container {
    font-size: smaller;
}

.mc-news-subscribe {
    text-decoration: none;
}
