.join-header {
    color: lightgrey;
    font-size: 20px;
    text-align: center;
}

    .join-header .active {
        color: black;
        font-weight: bold;
    }

.sign-up-step {
    padding-bottom: 0;
    padding-top: 0.8rem;
}

    .sign-up-step p {
        color: #999;
    }

    .sign-up-step.active {
        background-color: #5cb85c;
        border-color: #398439;
        border-radius: 1rem;
    }

        .sign-up-step.active p {
            color: white;
        }

h1 {
    font-weight: bold;
}

td.calendar-cell {
    padding: 0 !important;
}

td.selectable {
    cursor: pointer;
    padding: 0 !important;
}

td.unselectable {
    cursor: not-allowed;
    padding: 0 !important;
}

td.available {
    background-color: lightgreen;
}

.available-text {
    color: green;
}

.current {
    background-color: deepskyblue;
}

td.unavailable {
    background-color: red;
}

td.unavailable-text {
    color: red;
}

.required-field {
    font-weight: bold;
}

td.time {
    background-color: orange;
}

td.time-text {
    color: orange;
}

.option {
    padding: 8px 4px;
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    user-select: none; /* Standard syntax */
}

.selected-date {
    background-color: rgba(0, 0, 0, 0.3);
}

td.blackout {
    background-color: #333333;
    color: white;
}

.blackout-text {
    color: darkgray;
}

.out-of-range {
    opacity: 0.3;
}

.required-field:after {
    color: #a94442;
    content: "*";
    font-size: 1.3em;
    font-weight: bold;
}

.multiselect .multiselect-selected-text {
    left: 13px;
    position: absolute;
    top: 7px;
}

.multiselect .caret {
    position: absolute;
    right: 13px;
}

.drop-up.multiselect-container {
    margin-top: -576px !important;
    max-height: 542px !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.gra-performer-navbar {
    background-color: PaleGoldenrod;
}

    .gra-performer-navbar .mc-navbar-brand {
        color: black;
    }

    .gra-performer-navbar .navbar-nav li.active {
        background-color: #bdb76b;
    }

.on-site-contact-label {
    min-width: 50px;
    pointer-events: none;
}

input:read-only:not([type="checkbox"]):not([type="radio"]):not( [type="submit"] ):not([type="color"]).on-site-contact-input {
    border: none;
    background-color: inherit;
    cursor: auto;
}

.input-with-validation {
    position: relative;
}

.validation {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(0, -1rem);
}

input:invalid + .validation::before {
    position: absolute;
    content: "✖";
    padding-left: -5px;
    color: #8b0000;
}

input:valid + .validation::before {
    position: absolute;
    content: "✓";
    padding-left: -5px;
    color: #009000;
}

.on-site-contact-button {
    float: right;
    cursor: pointer;
    margin-left: 8px;
}

.selection-hover {
    background-color: #ddd !important;
}

.pre-wrap {
    white-space: pre-wrap;
}
