textarea#wmd-input {
    width: 100%;
    resize: vertical;
    height: 300px;
    font-family: monospace;
    border: 1px solid DarkGray;
    color: black;
    padding: 1rem;
}

div#preview {
    width: 100%;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    padding: 1rem;
    margin: 0;
}

.selected {
    background-color: #eeeeee;
}

blockquote {
    border-left: 2px dotted #888;
    padding-left: 5px;
    background: #d0f0ff;
}

.wmd-button-bar {
    width: 100%;
    background-color: Silver;
}

.wmd-button-row {
    background: #eee;
    border: 1px solid #ccc;
    height: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    padding: 0.75rem;
    position: relative;
}

.wmd-spacer {
    width: 0.2rem;
    height: 1.5rem;
    margin-left: 2rem;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    padding-left: 1rem;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-prompt-background {
    background-color: Black;
    z-index: 1100;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
    z-index: 1101;
}

    .wmd-prompt-dialog > div {
        font-size: 0.8em;
        font-family: arial, helvetica, sans-serif;
    }

    .wmd-prompt-dialog > form > input[type="text"] {
        border: 1px solid #999999;
        color: black;
    }

    .wmd-prompt-dialog > form > input[type="button"] {
        border: 1px solid #888888;
        font-family: trebuchet MS, helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: bold;
    }
