<form asp-controller="SignIn" asp-action="ForgotUsername" method="post" role="form">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="card ">
                <div class="card-heading">
                    <span class="lead"><grasite property="name"></grasite> - @SharedLocalizer[GRA.Annotations.Title.UsernameRecovery]</span>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All"></div>
                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <badge class="col-form-label">@SharedLocalizer[GRA.Domain.Model.DisplayNames.EmailAddress]</badge>
                            <input name="email" type="email" class="form-control form-control-lg" autofocus />
                        </div>
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <div class="pull-left">
                        <a asp-action="Index" class="btn btn-secondary btn-lg">@SharedLocalizer[GRA.Domain.Model.DisplayNames.ReturnToSignIn]</a>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg btn-spinner" button-spinner>
                            @SharedLocalizer[GRA.Domain.Model.DisplayNames.SendRecoveryEmail]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>