<form asp-controller="SignIn" asp-action="ForgotPassword" method="post" role="form">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="h4"><grasite property="name"></grasite> - @SharedLocalizer[GRA.Domain.Model.DisplayNames.ForgotPassword]</h1>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All"></div>
                    <div class="row mb-2">
                        <div class="col">
                            <label class="form-label">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Username]</label>
                            <input name="username" class="form-control form-control-lg" autofocus />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-6 py-1 d-grid">
                            <a asp-action="Index" class="btn btn-secondary btn-lg text-nowrap">@SharedLocalizer[GRA.Domain.Model.DisplayNames.ReturnToSignIn]</a>
                        </div>
                        <div class="col-sm-6 py-1 d-grid">
                            <button class="btn btn-primary btn-lg btn-spinner text-nowrap" button-spinner style="margin-top: 10px;">
                                @SharedLocalizer[GRA.Domain.Model.DisplayNames.SendRecoveryEmail]
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>