@model GRA.Controllers.ViewModel.SignIn.SignInViewModel

<form asp-controller="SignIn" asp-action="Index" method="post" role="form" novalidate>
    <input asp-for="ReturnUrl" type="hidden" />
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="lead"><grasite property="name"></grasite> - Sign In</span>
                </div>
                <div class="panel-body">
                    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                    {
                        <div class="row row-spacing">
                            <div class="col-xs-12">
                                <p class="text-danger">@Model.ErrorMessage</p>
                            </div>
                        </div>
                    }

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control input-lg" autofocus />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="form-control input-lg" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-left">
                        <table>
                            <tr><td><a asp-action="ForgotPassword">Forgot your password?</a></td></tr>
                            <tr><td><a asp-action="ForgotUsername">Forgot your username?</a></td></tr>
                        </table>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg">
                            <span class="fa fa-sign-in"></span> Sign in
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>