@model GRA.Controllers.ViewModel.SignIn.PasswordRecoveryViewModel

<form asp-controller="SignIn" asp-action="PasswordRecovery" method="post" role="form">
    <div class="row">
        <div class="mx-auto">
            <div class="card ">
                <div class="card-heading">
                    <span class="lead"><grasite property="name"></grasite> - @SharedLocalizer["Password Recovery"]</span>
                </div>
                <div class="card-body">
 
                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Username" class="col-form-label"></label>
                            <input asp-for="Username" class="form-control" autofocus />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Token" class="col-form-label"></label>
                            <input asp-for="Token" class="form-control" />
                            <span asp-validation-for="Token" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="NewPassword" class="col-form-label"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="ConfirmPassword" class="col-form-label"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="card-footer clearfix">
                    <div class="pull-left">
                        <a asp-action="Index" class="btn btn-secondary btn-lg">@SharedLocalizer["Return to Sign In"]</a>
                    </div>
                    <div class="pull-right" style="margin-top: 10px;">
                        <button class="btn btn-primary btn-lg btn-spinner" button-spinner>
                            @SharedLocalizer["Reset Password"]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>