@model GRA.Controllers.ViewModel.SignIn.PasswordRecoveryViewModel

<form asp-controller="SignIn" asp-action="PasswordRecovery" method="post" role="form">
    <div class="row">
        <div class="mx-auto">
            <div class="card">
                <div class="card-header">
                    <span class="lead"><grasite property="name"></grasite> - @SharedLocalizer["Password Recovery"]</span>
                </div>
                <div class="card-body">

                    <div class="mb-3">
                        <label asp-for="Username" class="col-form-label"></label>
                        <input asp-for="Username" class="form-control" autofocus />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Token" class="col-form-label"></label>
                        <input asp-for="Token" class="form-control" />
                        <span asp-validation-for="Token" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NewPassword" class="col-form-label"></label>
                        <input asp-for="NewPassword"
                               type="password"
                               class="form-control"
                               autocomplete="new-password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="col-form-label"></label>
                        <input asp-for="ConfirmPassword"
                               type="password"
                               class="form-control"
                               autocomplete="new-password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <a asp-action="Index"
                       class="btn btn-outline-secondary btn-lg me-2">
                        @SharedLocalizer["Return to Sign In"]
                    </a>
                    <button class="btn btn-outline-primary btn-lg" button-spinner>
                        @SharedLocalizer["Reset Password"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>