@model GRA.Controllers.ViewModel.SignIn.PasswordRecoveryViewModel

<form asp-controller="SignIn" asp-action="PasswordRecovery" method="post" role="form">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="lead"><grasite property="name"></grasite> - Password Recovery</span>
                </div>
                <div class="panel-body">
 
                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" autofocus />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="Token" class="control-label"></label>
                            <input asp-for="Token" class="form-control" />
                            <span asp-validation-for="Token" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="pull-left">
                        <a asp-action="Index" class="btn btn-default btn-lg">Return to Sign In</a>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg">
                            Reset Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>