@model GRA.Controllers.ViewModel.Share.ShareAvatarViewModel

@section metadata {
    <social data="Model.Social"
            description="A customized avatar for {sitename}, sign up to make your own!"></social>
}

<div class="row row-spacing">
    <div class="col-12">
        <a asp-controller="Join" asp-action="Index"><img src="@Model.ImageUrl" class="img-fluid" /></a>
    </div>
    <div class="col-12" style="text-align: center;">
        <div class="h4 visible-xs" style="margin-bottom: 1.5rem; margin-top: 1.5rem;">Join now to create your own awesome avatar!</div>
        <div class="h2 hidden-xs" style="margin-bottom: 2rem;">Join now to create your own awesome avatar!</div>
    </div>
    <div class="col-10 offset-xs-1 col-sm-6 offset-sm-3" style="margin-bottom: 2rem;">
        <a asp-controller="Join" asp-action="Index" class="btn btn-lg  btn-primary">
            <span class="fas fa-book"></span>
            Join!
        </a>
    </div>
</div>