.link-table {
    position: relative;
}

.rowlink::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit; /* don't forget to set the height! */
    margin-top: -5px;
}

.rowlink:hover::before {
    background-color: #EAEAEA;
    background-color: rgba(51, 51, 51, .1);
    cursor: pointer;
}

a.rowlink {
    color: #515151;
    text-decoration: none;
    height: 30px;
}

.on-top {
    position: relative;
    z-index: 100;
    background-color: white;
    background-clip: padding-box;
}

.row-spacing {
    margin-bottom: 1rem;
}

hr.footer {
    margin-bottom: 1rem;
    border-top: 1px solid #ccc;
}

p.footer {
    font-style: italic;
    font-size: small;
}

.label-as-badge {
    border-radius: 0.7em;
    font-size: 0.8em;
}

.gra-navbar-brand > .gra-pagetitle {
    color: black;
}

ul.navbar-nav > li > a {
    color: black;
}

ul.navbar-nav li.active {
    background-color: #eeeeff;
}

.body-content {
    margin-top: 1em;
    margin-bottom: 1em;
}

.gra-navbar {
    border-bottom: 1px solid #eee;
}

.gra-menu-button {
    border: 1px solid #ccc;
}

.alert > ul {
    padding-left: 1em;
}

.alert-sm {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sort-asc {
    position: relative;
    margin-left: 4px;
    top: 2px;
}

.sort-desc {
    position: relative;
    margin-left: 4px;
    top: -2px;
}

.sort-hide {
    margin-left: 4px;
    visibility: hidden;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.infolinks {
    text-align: center;
    font-size: 1.2em;
}

    .infolinks .active {
        font-weight: bold;
    }

.total-row {
    background-color: rgb(215, 240, 240);
    font-weight: bold;
}

.unread-mail {
    font-weight: bold;
}

.read-mail {
    background-color: #f9f9f9;
}

.badge-sm {
    width: 110px;
    height: auto;
}

.badge-lg {
    width: 210px;
    height: auto;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.join-header {
    color: lightgrey;
    font-size: 20px;
    text-align: center;
}

    .join-header .active {
        color: black;
        font-weight: bold;
    }

.center-label {
    text-align: center;
    width: 100%;
}

input.form-checkbox {
    margin: 0;
}

.page-button {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

    .page-button:hover {
        z-index: 2;
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
    }

    .page-button.disabled {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

.text-strong {
    font-weight: bold;
}

.exclamation-alert {
    position: relative;
    color: red;
    margin-left: -8px;
    top: -8px;
    vertical-align: middle;
}

.user-mail {
    cursor: pointer;
}

.plain-link {
    color: unset;
    text-decoration: none;
}

    .plain-link:hover {
        color: unset;
        text-decoration: none;
    }

    .plain-link:visited {
        color: unset;
        text-decoration: none;
    }

/* Responsive avatar display */
.dynamic-avatar-container-dashboard {
    width: 240px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.dynamic-avatar-layer-dashboard {
    position: absolute;
    top: -25px;
    left: 0px;
    height: 400px;
    width: 240px;
}

.dynamic-avatar-container {
    width: 210px;
    height: 350px;
    position: relative;
}

.dynamic-avatar-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.dynamic-avatar-layer-selector {
    width: 80px;
}

.dynamic-avatar-layer-button {
    border-radius: 0px;
}

.dynamic-avatar-item-selector {
    height: 200px;
    width: 50px;
}

.dynamic-avatar-color-selector {
    width: 184px;
}

.gra-search-container {
    margin-bottom: 0.25em;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .dynamic-avatar-container-dashboard {
        height: 220px;
        width: 150px;
    }

    .dynamic-avatar-layer-dashboard {
        top: 0;
        height: 250px;
        width: 150px;
    }

    .dynamic-avatar-container {
        width: 240px;
        height: 400px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .dynamic-avatar-container-dashboard {
        height: 308px;
        width: 210px;
    }

    .dynamic-avatar-layer-dashboard {
        height: 350px;
        width: 210px;
    }

    .dynamic-avatar-container {
        width: 300px;
        height: 500px;
    }

    .dynamic-avatar-layer-selector {
        width: 100px;
    }

    .dynamic-avatar-layer-button {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
    }

    .dynamic-avatar-item-selector {
        height: 200px;
        width: 50px;
    }

    .dynamic-avatar-color-selector {
        width: 220px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .dynamic-avatar-container-dashboard {
        height: 374px;
        width: 255px;
    }

    .dynamic-avatar-layer-dashboard {
        height: 425px;
        width: 255px;
    }

    .dynamic-avatar-item-selector {
        height: 200px;
        width: 100px;
    }

    .dynamic-avatar-color-selector {
        width: 256px;
    }
}

.colored-icon.fa-times {
    color: red;
}

.colored-icon.fa-check {
    color: green;
}

.questionnaire {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
}

    .questionnaire div.story p {
        padding-top: 1rem;
        font-size: 1.7rem;
        text-indent: 3rem;
        padding-bottom: 1rem;
    }

    .questionnaire img {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .questionnaire .question p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.8rem;
    }

    .questionnaire .answer-selection {
        padding-bottom: 0.5rem;
    }

.avatar-background {
    margin: -20px -15px;
    padding-bottom: 15px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .avatar-background {
        margin: 0 -51px 0 -20px;
        padding: 20px 51px 0 20px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .avatar-background {
        margin: 0 -28px 0 -20px;
        padding: 20px 28px 15px 20px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .avatar-background {
        margin: 0 -14px 0 -20px;
        padding: 20px 14px 15px 20px;
    }
}

.sign-up-step {
    padding-top: 0.8rem;
    padding-bottom: 0;
}

    .sign-up-step p {
        color: #999;
    }

    .sign-up-step.active {
        background-color: #5cb85c;
        border-color: #398439;
        border-radius: 1rem;
    }

        .sign-up-step.active p {
            color: white;
        }

.info-page {
    background: white;
    border-radius: 1rem;
    padding: 0.25rem 2rem 0.5rem 2rem;
}

.dashboard-badge {
    padding: 0.25rem;
}

.dashboard-activity {
    padding: 0 15px 15px 15px;
}

.frame-modal {
    padding: 50px;
}

.frame-container {
    background-color: white;
    border: solid 20px white;
    border-radius: 20px;
}

.frame-close {
    position: relative;
    float: right;
    top: -10px;
    right: -10px;
    text-shadow: 0 0 4px black;
    cursor: pointer;
}

.dashboard-page-container {
    border: 15px solid white;
    border-radius: 4px;
    overflow: hidden;
}

.bundle-link {
    cursor: pointer;
}

.bundle-image {
    margin:10px;
}

.multiselect .multiselect-selected-text {
    position: absolute;
    left: 13px;
    top: 7px;
}

.multiselect .caret {
    position: absolute;
    right: 13px;
}

.favorite-checkbox {
    display: none;
}
    .favorite-checkbox + label:before {
        color: #DDB500;
        content: "\f006";
        cursor: pointer;
        display: inline-block;
        font-family: FontAwesome;
        font-size: 24px;
    }

    .favorite-checkbox:checked + label:before {
        content: "\f005";
    }

.favorite-button {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 24px;
}
    .favorite-button.fa-star {
        color: #DDB500;
    }
    .favorite-button.fa-star-o {
        color: #DDB500;
    }

.task-description p {
    margin-bottom: 0px;
}