body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.link-table {
    position: relative;
}

.rowlink::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: inherit; /* don't forget to set the height! */
  margin-top: -5px;
}

.rowlink:hover::before {
    background-color: rgba(51, 51, 51, .1);
    cursor: pointer;
}

a.rowlink {
    color: #515151;
    text-decoration: none;
    height: 30px;
}

.on-top {
    position: relative;
    z-index:100;
    background-color: white;
    background-clip: padding-box;
}