<div class="row my-4">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                   value="Index"
                   asp-action="Index"
                   class="nav-link">Events</a>
            </li>
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                   value="CommunityExperiences"
                   asp-action="CommunityExperiences" class="nav-link">Community Experiences</a>
            </li>
            @if (Model.CanManageLocations)
            {
                <li class="nav-item">
                    <a ActiveBy
                       routeKey="Action"
                       value="Locations"
                       asp-action="Locations"
                       class="nav-link">Locations</a>
                </li>
            }
            <li class="nav-item">
                <a ActiveBy
                   routeKey="Action"
                   value="StreamingEvents"
                   asp-action="StreamingEvents"
                   class="nav-link">Streaming Events</a>
            </li>
        </ul>
    </div>
</div>