@model GRA.Controllers.ViewModel.MissionControl.Downloads.IndexViewModel

<h3>Download ZIP file of Badge Images</h3>
<div class="row" style="padding: 10px 0;">
    <div class="col-12 col-md-8 offset-md-2">
        @if (Model.SystemBadgeCount.Count() == 0)
        {
            <div class="alert alert-warning">No Systems</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>System Name</th>
                            <th>Number of Badges</th>
                            <th>Download ZIP</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var system in Model.SystemBadgeCount.Keys.OrderBy(_ => _.Name))
                        {
                            <tr>
                                <td>
                                    @system.Name
                                </td>
                                <td>
                                    @Model.SystemBadgeCount[system]
                                </td>
                                <td class="gra-mc-icon">
                                    @if (Model.SystemBadgeCount[system] > 0)
                                    {
                                        <a title="Download ZIP"
                                           class="btn btn-outline-info btn-sm"
                               asp-action="@nameof(DownloadsController.GetBadgeZipForSystem)"
                               asp-route-id="@system.Id">
                                            <span class="fas fa-file-download" aria-hidden="true"></span>
                                        </a>
                                    }
                                    else
                                    {
                                        @:&nbsp;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
