.mmFont {
    font-size: 16pt;
}

.RowBottomBorder {
    border-bottom: 1px solid #a9a9a9 !important;
}

.uneditable-input:focus, input[type=text]:focus, input[type=url]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus, input[type=number]:focus, input[type=email]:focus, textarea:focus {
    border-color: rgba(3,3,3,.2);
    outline: 0;
    outline: dotted thin;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}

.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    font-family: "Open Sans",Arial,serif;
    background: #fff;
}

h1 {
    font-size: 31.5px;
}

h2 {
    font-size: 27.3px;
}

h3 {
    font-size: 20.5px;
}

h4 {
    font-size: 17.5px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11.9px;
}

h1 small {
    font-size: 21.7px;
}

h2 small {
    font-size: 14.7px;
}

h3 small, h4 small {
    font-size: 14px;
}

.page-title {
    margin: 0;
}

    .page-title small {
        color: rgba(51,51,51,.5);
    }

a:focus {
    outline: 0;
}

.page {
    background: url(../../images/bg/washi.png) #fff;
}

.wrapper {
    background-color: #fff;
    -webkit-box-shadow: 3px 0 0 rgba(36,36,36,.6),-3px 0 0 rgba(36,36,36,.6);
    -moz-box-shadow: 3px 0 0 rgba(36,36,36,.6),-3px 0 0 rgba(36,36,36,.6);
    box-shadow: 3px 0 0 rgba(36,36,36,.6),-3px 0 0 rgba(36,36,36,.6);
}

.container {
    padding: 20px;
}

#header-hidden-link {
    position: absolute;
    right: 0;
    top: -10px;
}

    #header-hidden-link a.show-hide, #header-hidden-link a.top-link {
        font-size: 0;
        line-height: 1;
        background: #55a79a;
        padding: 0 10px;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
        height: 20px;
        display: block;
        text-align: center;
        color: #eee;
        color: rgba(255,255,255,.8);
        text-decoration: none;
    }

        #header-hidden-link a.show-hide i, #header-hidden-link a.top-link i {
            font-size: 16px;
            line-height: 1;
        }

        #header-hidden-link a.show-hide:hover, #header-hidden-link a.top-link:hover {
            text-decoration: none;
            color: rgba(200,200,200,.8);
        }

        #header-hidden-link a.show-hide > i:before {
            content: "\f078";
            font-family: FontAwesome;
            font-size: 16px;
            font-style: normal;
        }

        #header-hidden-link a.show-hide.open {
            text-decoration: none;
        }

            #header-hidden-link a.show-hide.open > i:before {
                content: "\f077";
            }

.show-hide-open {
    height: auto !important;
    min-height: 40px;
    max-height: 40000px;
}

.show-hide-close {
    height: 0;
    overflow: hidden;
}

#navigation {
    -webkit-box-shadow: 1px 1px 15px rgba(36,36,36,.6);
    -moz-box-shadow: 1px 1px 15px rgba(36,36,36,.6);
    box-shadow: 1px 1px 15px rgba(36,36,36,.6);
}

    #navigation:after, #navigation:before {
        display: table;
        content: "";
        line-height: 0;
    }

    #navigation:after {
        clear: both;
    }

    #navigation .header-hidden {
        background: #55a79a;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
        height: 0;
        overflow: hidden;
    }

        #navigation .header-hidden.show-hide-open {
            padding: 10px 0;
        }

        #navigation .header-hidden a {
            color: #fff;
        }

    #navigation .header {
        padding: 10px 0;
        background: rgba(255,255,255,.9);
        border-top: 1px solid #55a79a;
        color: #242424;
    }

        #navigation .header .header-inner {
            position: relative;
        }

        #navigation .header .social-media {
            margin: 20px 0 0;
        }

    #navigation .navbar {
        color: #eee;
        color: rgba(255,255,255,.7);
        margin: 0;
    }

    #navigation .navbar-inner {
        margin: 0;
        padding: 0 8px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 0;
        border-bottom: 3px solid #55a79a;
        background-image: url(../../images/bg_noise-2.png);
        background-position: left top;
        background-repeat: repeat;
        -webkit-box-shadow: 1px 1px 10px rgba(36,36,36,.6);
        -moz-box-shadow: 1px 1px 10px rgba(36,36,36,.6);
        box-shadow: 1px 1px 10px rgba(36,36,36,.6);
    }

    #navigation .sitename {
        font-weight: 400;
        font-family: Rambla,Arial,serif;
        padding: 0;
        margin: 8px 0 0;
        display: block;
        border: none;
        text-shadow: none;
        line-height: 1;
        color: #55a79a;
    }

        #navigation .sitename h1 {
            font-size: 39.5px;
            font-weight: 700;
            margin: 0;
            padding: 0;
            line-height: 1;
        }

            #navigation .sitename h1 span {
                color: #464646;
                color: rgba(36,36,36,.8);
                font-weight: 700;
            }

        #navigation .sitename :hover {
            text-decoration: none;
            cursor: pointer;
        }

    #navigation .slogan {
        color: #888;
        font-size: 13.9px;
        margin: 8px 0 0 1em;
        padding: 12px 0 8px 1em;
        border-left: 0 solid #e6e6e6;
        float: right;
        clear: both;
        display: inline;
    }

    #navigation .navbar .btn-navbar {
        padding: 8px;
        margin: 0;
    }

    #navigation .nav-select {
        display: none;
        float: left;
    }

    #navigation .navbar .nav li.divider-vertical {
        margin: 0 20px;
        border-left-color: #3b746b;
        border-right-color: rgba(255,255,255,.15);
    }

    #navigation .navbar .nav li > a, #navigation .navbar .nav li > a.btn {
        text-shadow: none;
        font-size: 14.5px;
    }

    #navigation .navbar .nav li > .btn {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 0 0 5px;
        color: #333;
        background-color: #f5f5f5;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        outline: 0;
        background-image: linear-gradient(to bottom,#fff,#e6e6e6);
        : *;
    }

        #navigation .navbar .nav li > .btn.active, #navigation .navbar .nav li > .btn.disabled, #navigation .navbar .nav li > .btn:active, #navigation .navbar .nav li > .btn:focus, #navigation .navbar .nav li > .btn:hover, #navigation .navbar .nav li > .btn[disabled] {
            color: #333;
            background-color: #e6e6e6;
        }

        #navigation .navbar .nav li > .btn.login, #navigation .navbar .nav li > .btn.signup {
            margin: 0;
            -webkit-border-radius: 2px 0 0 2px;
            -moz-border-radius: 2px 0 0 2px;
            border-radius: 2px 0 0 2px;
            font-size: 12px;
            text-transform: uppercase;
        }

        #navigation .navbar .nav li > .btn.login {
            -webkit-border-radius: 0 2px 2px 0;
            -moz-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
        }

        #navigation .navbar .nav li > .btn:active {
            outline: 0;
        }

        #navigation .navbar .nav li > .btn.btn-navbar, #navigation .navbar .nav li > .btn.btn-primary {
            color: #fff;
            background-color: #4e998e;
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff55a79a', endColorstr='#ff44857b', GradientType=0);
            border-color: #44857b #44857b #2a534c;
            background-image: linear-gradient(to bottom,#55a79a,#44857b);
        }

            #navigation .navbar .nav li > .btn.btn-navbar.active, #navigation .navbar .nav li > .btn.btn-navbar.disabled, #navigation .navbar .nav li > .btn.btn-navbar:active, #navigation .navbar .nav li > .btn.btn-navbar:focus, #navigation .navbar .nav li > .btn.btn-navbar:hover, #navigation .navbar .nav li > .btn.btn-navbar[disabled], #navigation .navbar .nav li > .btn.btn-primary.active, #navigation .navbar .nav li > .btn.btn-primary.disabled, #navigation .navbar .nav li > .btn.btn-primary:active, #navigation .navbar .nav li > .btn.btn-primary:focus, #navigation .navbar .nav li > .btn.btn-primary:hover, #navigation .navbar .nav li > .btn.btn-primary[disabled] {
                color: #fff;
                background-color: #44857b;
            }

        #navigation .navbar .nav li > .btn.btn-inverse {
            color: #fff;
            background-color: #161616;
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff242424', endColorstr='#ff000000', GradientType=0);
            border-color: #000;
            background-image: linear-gradient(to bottom,#242424,#000);
        }

            #navigation .navbar .nav li > .btn.btn-inverse.active, #navigation .navbar .nav li > .btn.btn-inverse.disabled, #navigation .navbar .nav li > .btn.btn-inverse:active, #navigation .navbar .nav li > .btn.btn-inverse:focus, #navigation .navbar .nav li > .btn.btn-inverse:hover, #navigation .navbar .nav li > .btn.btn-inverse[disabled] {
                color: #fff;
                background-color: #000;
            }

    #navigation .navbar .nav.user-menu {
        padding: 12px 6px;
    }

    #navigation .navbar .nav#main-menu li.home-link a {
        margin: 0;
        color: #55a79a;
        font-size: 20px;
        padding: 16px 20px;
    }

        #navigation .navbar .nav#main-menu li.home-link a:hover {
            color: #fff;
            background: 0 0;
        }

    #navigation .navbar .nav#main-menu li:first-child {
        border-left: none;
    }

    #navigation .navbar .nav#main-menu li:last-child {
        border-right: none;
    }

    #navigation .navbar .nav#main-menu li a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
        padding: 18px 20px;
        margin: 0;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #BABAB3;
        color: rgba(255,255,255,.7);
    }

        #navigation .navbar .nav#main-menu li a:focus {
            color: #fff;
        }

        #navigation .navbar .nav#main-menu li a:hover, #navigation .navbar .nav#main-menu li.active .dropdown-toggle, #navigation .navbar .nav#main-menu li.active a.menu-item, #navigation .navbar .nav#main-menu li.open .dropdown-toggle, #navigation .navbar .nav#main-menu li.open.active .dropdown-toggle {
            background-color: rgba(255,255,255,.044);
            background-repeat: repeat-x;
            color: #fff;
            background-image: linear-gradient(to bottom,rgba(255,255,255,.02),rgba(255,255,255,.08));
        }

            #navigation .navbar .nav#main-menu li a:hover .caret, #navigation .navbar .nav#main-menu li.active .dropdown-toggle .caret, #navigation .navbar .nav#main-menu li.active a.menu-item .caret, #navigation .navbar .nav#main-menu li.open .dropdown-toggle .caret, #navigation .navbar .nav#main-menu li.open.active .dropdown-toggle .caret {
                border-top-color: #fff;
            }

    #navigation .navbar .nav#main-menu .dropdown-menu {
        margin-top: 2px;
        padding: 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: -1px;
        border-bottom: 4px solid #55a79a;
        min-width: 250px;
        color: #464646;
        color: rgba(36,36,36,.8);
    }

        #navigation .navbar .nav#main-menu .dropdown-menu .divider {
            height: 2px;
            margin: 0;
        }

        #navigation .navbar .nav#main-menu .dropdown-menu.pull-center {
            padding: 0;
            left: 50%;
            width: 220px;
            margin-left: -110px;
        }

            #navigation .navbar .nav#main-menu .dropdown-menu.pull-center:before {
                left: 50%;
                top: -10px;
                border-width: 10px;
                margin-left: -10px;
            }

            #navigation .navbar .nav#main-menu .dropdown-menu.pull-center:after {
                left: 49.5%;
                top: -9px;
                border-width: 9px;
                margin-left: -8px;
            }

        #navigation .navbar .nav#main-menu .dropdown-menu li {
            border-left: none;
            border-right: none;
        }

            #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item {
                margin: 0;
                padding: 10px 15px;
                font-size: 12px;
                font-weight: 400;
                text-transform: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                -webkit-box-shadow: 0;
                -moz-box-shadow: 0;
                box-shadow: 0;
                background-color: #fafafa;
                background-repeat: repeat-x;
                border-bottom: 1px solid #e6e6e6;
                color: #242424;
                background-image: linear-gradient(to bottom,#fff,#f3f3f3);
            }

                #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:before {
                    font-family: FontAwesome;
                    font-size: 10px;
                    color: rgba(36,36,36,.6);
                    width: 30px;
                    height: 30px;
                    content: "\f0da";
                    padding-right: 10px;
                }

                #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:hover {
                    color: rgba(36,36,36,.8);
                    border-bottom-color: #55a79a;
                    background-color: #f5f5f5;
                    background-repeat: repeat-x;
                    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
                }

        #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu {
            padding: 10px;
            min-width: 600px;
        }

            #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu .menu-title {
                font-weight: 700;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 2px solid #e6e6e6;
                display: block;
            }

            #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul {
                margin: 0;
                font-size: 10.5px;
            }

                #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul span {
                    padding: 5px;
                    display: block;
                }

                #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a.menu-item {
                    padding: 5px;
                    font-weight: 700;
                    font-size: 11.5px;
                }

                    #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a.menu-item:before {
                        font-size: 14px;
                    }

    #navigation div.dropdown-menu, #navigation span.dropdown-menu {
        padding: 10px;
        min-width: 150px;
        color: #464646;
        color: rgba(36,36,36,.8);
    }

        #navigation div.dropdown-menu .divider, #navigation span.dropdown-menu .divider {
            display: block;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #navigation div.dropdown-menu small, #navigation span.dropdown-menu small {
            display: block;
        }

#highlighted .inner {
    background: url(../../images/bg_diamond.png) left bottom repeat-x;
}

#highlighted ul.nav-pills {
    margin: 0;
}

.has-navbar-fixed-top #highlighted {
    margin-top: 150px;
}

#content, #content2 {
    padding: 0;
}

#content-below {
    padding: 10px 0;
    border-top: 1px solid #cdcdcd;
    background: #e6e6e6;
}

#footer {
    background: #333;
    min-height: 40px;
    padding: 20px 0;
    color: #A2A2A2;
    color: rgba(255,255,255,.6);
    border-top: 2px solid #55a79a;
}

    #footer h3 {
        font-size: 1.2em;
        color: #CCC;
        color: rgba(255,255,255,.8);
        line-height: 1;
    }

    #footer a {
        color: #CCC;
        color: rgba(255,255,255,.8);
    }

    #footer .block {
        margin-bottom: 2em;
    }

    #footer .inline {
        display: inline-block;
    }

    #footer .contact-block p {
        margin-bottom: .2em;
    }

    #footer .contact-block i {
        padding-right: .5em;
    }

    #footer #toplink {
        margin-bottom: -25px;
        text-align: center;
    }

        #footer #toplink a:hover {
            text-decoration: none;
            color: #fff;
        }

        #footer #toplink i {
            color: #55a79a;
        }

    #footer .subfooter {
        border-top: 1px dotted #3E3E3E;
        border-top: 1px dotted rgba(255,255,255,.1);
        margin-top: 1em;
        padding-top: 1em;
    }

    #footer .container {
        position: relative;
    }

.upsell {
    text-align: center;
}

    .upsell .title {
        display: inline-block;
        padding: 0 .5em;
        margin: 0;
    }

        .upsell .title small {
            display: block;
        }

    .upsell p {
        margin: 0;
        padding: .5em 0 0;
    }

.btn span {
    display: block;
    font-size: 12px;
}

.spacer {
    font-weight: 700;
    color: #55a79a;
}

    .spacer.dark {
        color: #44857b;
    }

a:hover img {
    opacity: .8;
    filter: alpha(opacity=80);
}

.block .title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}

.sidebar.sidebar-right .inner {
    border-left: 1px solid #e6e6e6;
    padding: 20px 0 0 2em;
}

.sidebar.sidebar-left .inner {
    border-right: 1px solid #e6e6e6;
    padding: 20px 2em 0 0;
}

.sidebar .block {
    margin-bottom: 2em;
}

.mdrs .btn, .mdrs .btn-block {
    padding: .6em 1em;
    font-size: 1.2em;
}

.intro p {
    margin-bottom: 0;
}

ul.inline > li:first-child {
    padding-left: 0;
}

.static-banner {
    overflow: hidden;
}

    .static-banner .caption {
        padding: 5% 0;
    }

.well, ul.nav-tabs li a {
    background-color: silver;
}

ul.nav-tabs li a {
    -webkit-border-radius: 20px 0 0;
    -moz-border-radius: 20px 0 0;
    border-radius: 20px 0 0;
    color: #000;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
    color: #55a79a;
    border-top: 4px solid #55a79a;
}

.pill {
    border: 1px solid rgba(85,167,154,.1);
    margin-top: 0 !important;
    margin: 1px 0;
    padding: 8px .5em;
    background: rgba(85,167,154,.05);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(85,167,154,.1);
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0 !important;
}

.stats .stat {
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

    .stats .stat .well {
        background-color: #44857b;
        background-image: -webkit-gradient(radial,center center,0,center center,460,from(#55a79a),to(#44857b));
        background-image: -webkit-radial-gradient(circle,#55a79a,#44857b);
        background-image: -moz-radial-gradient(circle,#55a79a,#44857b);
        background-image: -o-radial-gradient(circle,#55a79a,#44857b);
        background-repeat: no-repeat;
        padding: 20px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        position: relative;
        margin: 0 15px;
        height: 40px;
        line-height: 40px;
    }

        .stats .stat .well:after, .stats .stat .well:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .stats .stat .well:after {
            border-top-color: #55a79a;
            border-width: 5px;
            left: 50%;
            margin-left: -5px;
        }

        .stats .stat .well:before {
            border-top-color: rgba(0,0,0,.01);
            border-width: 6px;
            left: 50%;
            margin-left: -6px;
        }

    .stats .stat small {
        text-shadow: none;
        font-size: 12px;
        display: block;
        color: #494949;
        color: rgba(36,36,36,.8);
        margin: 10px 0 0;
        text-transform: uppercase;
    }

.team .media-heading {
    margin-top: 0;
    color: #000;
}

.team p {
    color: rgba(36,36,36,.8);
}

    .team .role, .team p.role {
        color: rgba(36,36,36,.8);
        font-size: 16px;
    }

.team .media-object {
    max-width: 120px;
}

.section-menu ul.nav-list {
    padding: 2em 0;
    margin-left: 0;
    border-right: 1px solid #e6e6e6;
}

    .section-menu ul.nav-list li.nav-header {
        padding-left: 5px;
        margin: 0;
    }

    .section-menu ul.nav-list li a {
        color: #494949;
        color: rgba(36,36,36,.7);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-weight: 700;
        font-size: 18px;
        border: 1px solid #e6e6e6;
        border-top: none;
        margin: 0 -1px 0 3px;
        -webkit-box-shadow: 1px 1px 1px #fff;
        -moz-box-shadow: 1px 1px 1px #fff;
        box-shadow: 1px 1px 1px #fff;
        background: #fafafa;
        text-shadow: none;
        padding: 8px 15px;
        position: relative;
    }

        .section-menu ul.nav-list li a.first {
            border-top: 1px solid #e6e6e6;
        }

        .section-menu ul.nav-list li a:hover {
            background: #f0f0f0;
        }

            .section-menu ul.nav-list li a:hover i {
                color: #55a79a;
            }

        .section-menu ul.nav-list li a i {
            font-size: 22px;
            position: absolute;
            top: 20px;
            right: 10px;
            color: #e6e6e6;
        }

        .section-menu ul.nav-list li a small {
            display: block;
            font-weight: 400;
            color: rgba(36,36,36,.5);
        }

    .section-menu ul.nav-list li.active > a, .section-menu ul.nav-list li.active > a:hover {
        border-left: 4px solid #55a79a;
        border-right-color: #fff;
        margin: 0 -1px 0 0;
        background: #fff;
        color: #494949;
        color: rgba(36,36,36,.8);
    }

        .section-menu ul.nav-list li.active > a i, .section-menu ul.nav-list li.active > a:hover i {
            color: #55a79a;
        }

.secondary-nav li a {
    border: 1px solid rgba(85,167,154,.1);
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 20px !important;
}

    .secondary-nav li a small {
        font-weight: 400;
    }

.form-wrapper {
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 10px rgba(36,36,36,.2);
    -moz-box-shadow: 1px 1px 10px rgba(36,36,36,.2);
    box-shadow: 1px 1px 10px rgba(36,36,36,.2);
    background-color: #fff;
}

    .form-wrapper.form-narrow {
        min-width: 200px;
        max-width: 300px;
    }

    .form-wrapper.form-medium {
        min-width: 400px;
        max-width: 500px;
    }

    .form-wrapper h2.title-divider, .form-wrapper h3.title-divider {
        margin-top: 0;
    }

.de-em {
    font-weight: 400;
    color: rgba(51,51,51,.8);
}

a .de-em {
    font-weight: 400;
    color: rgba(85,167,154,.8);
}

.em {
    font-weight: 700;
}

.pad-right {
    padding-right: .5em;
}

.pad-left {
    padding-left: .5em;
}

.pad-right-large {
    padding-right: 1.5em;
}

.pad-left-large {
    padding-left: 1.5em;
}

.pad-right-xlarge {
    padding-right: 3em;
}

.pad-left-xlarge {
    padding-left: 3em;
}

small img {
    max-width: 50px;
}

blockquote {
    border: none;
    padding: 0;
}

    blockquote p {
        background: #e6e6e6;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        position: relative;
    }

        blockquote p:after, blockquote p:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        blockquote p:after {
            border-top-color: #e6e6e6;
            border-width: 10px;
            left: 10%;
            margin-left: -10px;
        }

        blockquote p:before {
            border-top-color: rgba(0,0,0,.01);
            border-width: 11px;
            left: 10%;
            margin-left: -11px;
        }

    blockquote small {
        display: block;
        padding: 12px 0 0 10px;
    }

        blockquote small:before {
            content: '';
        }

        blockquote small img {
            padding-right: 1em;
        }

.inline-el {
    display: inline-block;
}

    .inline-el h1, .inline-el h2, .inline-el h3, .inline-el h4, .inline-el h5, .inline-el p {
        margin: 0;
    }

.well-small {
    padding: 9px;
}

.well-mini {
    padding: 5px;
}

.badge.badge-large, .badge.label-large, .label.badge-large, .label.label-large {
    padding: 4px 8px;
    font-size: 14px;
}

.badge.badge-xlarge, .badge.label-xlarge, .label.badge-xlarge, .label.label-xlarge {
    padding: 8px 12px;
    font-size: 18px;
}

.title-divider {
    text-align: left;
    margin-bottom: 1em;
    background: url(../../images/bg_divider.png) left center repeat-x #fff;
    padding: 0;
}

    .title-divider span {
        background: #fff;
        padding-right: .5em;
    }

    .title-divider small {
        display: block;
        color: rgba(51,51,51,.6);
    }

.secondary-nav {
    margin: 0;
    padding: 0;
}

    .secondary-nav li a {
        margin: 0 0 1px;
        padding: 8px .5em;
        background: rgba(85,167,154,.05);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid rgba(85,167,154,.1);
    }

        .secondary-nav li a i {
            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
            opacity: .6;
            filter: alpha(opacity=60);
        }

        .secondary-nav li a:hover {
            background: rgba(85,167,154,.1);
        }

            .secondary-nav li a:hover i {
                opacity: .9;
                filter: alpha(opacity=90);
            }

    .secondary-nav li.active a {
        background: #55a79a;
    }

    .secondary-nav li ul {
        margin: 0 0 1px;
        padding: 8px 1em;
        border: 1px solid rgba(85,167,154,.3);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: rgba(85,167,154,.1);
    }

.background-clip-fix {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@media (max-width:979px) {
    #navigation .header {
        padding: 10px 0;
    }

        #navigation .header #header-hidden-link {
            top: -10px;
        }

    #navigation .navbar .btn-navbar {
        text-align: center;
        display: block;
        float: left;
        margin: 8px;
        color: #fff;
        background-color: rgba(62,62,62,.8);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc3e3e3e', endColorstr='#cc3e3e3e', GradientType=0);
        border-color: rgba(62,62,62,.8) rgba(62,62,62,.8) rgba(23,23,23,.8);
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        background-image: linear-gradient(to bottom,rgba(62,62,62,.8),rgba(62,62,62,.8));
        : *;
    }

        #navigation .navbar .btn-navbar.active, #navigation .navbar .btn-navbar.disabled, #navigation .navbar .btn-navbar:active, #navigation .navbar .btn-navbar:focus, #navigation .navbar .btn-navbar:hover, #navigation .navbar .btn-navbar[disabled] {
            color: #fff;
            background-color: rgba(62,62,62,.8);
        }

    #navigation .nav-select {
        display: block;
    }

    #navigation .navbar-inner {
        padding: 0;
        margin: 0 10px;
        background-image: none;
    }

    #navigation .navbar .nav.user-menu {
        margin: 0;
        padding: 8px;
    }

    #navigation .navbar .nav#main-menu {
        float: none;
        margin: 0;
        padding: 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

        #navigation .navbar .nav#main-menu li {
            float: none;
            border-left: none;
            border-right: none;
            padding: 0;
            margin: 0;
            border-top: 1px solid rgba(255,255,255,.1);
        }

            #navigation .navbar .nav#main-menu li a, #navigation .navbar .nav#main-menu li a:focus, #navigation .navbar .nav#main-menu li a:link {
                padding: 10px 20px;
                margin: 0;
                font-weight: 400;
            }

                #navigation .navbar .nav#main-menu li a .caret, #navigation .navbar .nav#main-menu li a:focus .caret, #navigation .navbar .nav#main-menu li a:link .caret {
                    font-family: FontAwesome;
                    float: right;
                    border: none;
                    margin: 0 -20px 0 0;
                    font-size: 16px;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                }

                    #navigation .navbar .nav#main-menu li a .caret:before, #navigation .navbar .nav#main-menu li a:focus .caret:before, #navigation .navbar .nav#main-menu li a:link .caret:before {
                        content: "\f054";
                    }

                #navigation .navbar .nav#main-menu li a:hover, #navigation .navbar .nav#main-menu li.active a {
                    background: #4a4a4a;
                    color: #fff;
                }

            #navigation .navbar .nav#main-menu li.open .dropdown-toggle, #navigation .navbar .nav#main-menu li.open.active .dropdown-toggle {
                background: #434343;
                color: #fff;
            }

                #navigation .navbar .nav#main-menu li.open .dropdown-toggle .caret:before, #navigation .navbar .nav#main-menu li.open.active .dropdown-toggle .caret:before {
                    content: "\f078";
                }

        #navigation .navbar .nav#main-menu .dropdown-menu {
            background: 0 0;
            margin: 0;
            padding: 0;
            max-width: 100%;
            border: none;
            color: rgba(255,255,255,.6);
        }

            #navigation .navbar .nav#main-menu .dropdown-menu li {
                margin: 0;
                padding: 0;
                border-top: none;
                background: 0 0;
            }

                #navigation .navbar .nav#main-menu .dropdown-menu li a, #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item, #navigation .navbar .nav#main-menu .dropdown-menu li a:focus, #navigation .navbar .nav#main-menu .dropdown-menu li a:link {
                    padding: 5px 20px;
                    margin: 0;
                    background: #525252;
                    border-bottom-color: rgba(255,255,255,.16);
                    text-transform: none;
                    color: rgba(255,255,255,.6);
                }

                    #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:before, #navigation .navbar .nav#main-menu .dropdown-menu li a:before, #navigation .navbar .nav#main-menu .dropdown-menu li a:focus:before, #navigation .navbar .nav#main-menu .dropdown-menu li a:link:before {
                        font-family: FontAwesome;
                        font-size: 10px;
                        color: rgba(255,255,255,.6);
                        width: 30px;
                        height: 30px;
                        content: "\f0da";
                        padding: 0 6px 0 0;
                    }

                    #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:hover, #navigation .navbar .nav#main-menu .dropdown-menu li a:focus:hover, #navigation .navbar .nav#main-menu .dropdown-menu li a:hover, #navigation .navbar .nav#main-menu .dropdown-menu li a:link:hover {
                        background: #525252;
                        border-bottom-color: rgba(255,255,255,.16);
                        color: #fff;
                    }

            #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu {
                padding: 0;
                min-width: 100%;
                max-width: 100%;
            }

                #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu .menu-title {
                    display: none;
                }

                #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul.row-fluid [class*=span] {
                    width: 100%;
                }

                #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a, #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul span {
                    display: none;
                }

                    #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a.menu-item {
                        padding: 5px 20px;
                        font-weight: 400;
                        font-size: 11.5px;
                        display: block;
                    }

                        #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a.menu-item:before {
                            font-size: 14px;
                        }
}

@media (max-width:979px) {
    #navigation {
        margin-bottom: 1em;
    }

        #navigation .header #header-hidden-link {
            right: 20px;
        }

        #navigation .header .social-media {
            margin-top: 20px;
        }

        #navigation .header-hidden-inner, #navigation .header-inner {
            padding-left: 20px;
            padding-right: 20px;
        }

        #navigation .navbar-inner {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

    .has-navbar-fixed-top #highlighted {
        margin-top: auto;
    }
}

@media (min-width:768px) and (max-width:979px) {
    #content2 {
        padding: 10px 0 0;
    }

    .navbar-inner {
        top: 2px !important;
    }

    blockquote small img {
        display: none;
    }

    #navigation {
        margin-bottom: -10px;
    }
}

@media (max-width:767px) {
    .navbar-inner {
        top: 2px !important;
    }

    #content2 {
        padding: 10px 0 0;
    }

    body {
        padding-left: 0;
        padding-right: 0;
    }

    #navigation {
        margin-bottom: -10px;
    }

        #navigation .header {
            height: auto;
        }

            #navigation .header .slogan {
                border: none;
                padding: 0;
                margin: 0;
                float: none;
                text-align: center;
            }

            #navigation .header #header-hidden-link {
                right: 10px;
            }

        #navigation div.dropdown-menu, #navigation span.dropdown-menu {
            max-width: 200px;
        }

            #navigation div.dropdown-menu .input-append input, #navigation div.dropdown-menu .input-append input[class*=span], #navigation div.dropdown-menu .input-prepend input, #navigation div.dropdown-menu .input-prepend input[class*=span], #navigation div.dropdown-menu form input[type=text].email, #navigation span.dropdown-menu .input-append input, #navigation span.dropdown-menu .input-append input[class*=span], #navigation span.dropdown-menu .input-prepend input, #navigation span.dropdown-menu .input-prepend input[class*=span], #navigation span.dropdown-menu form input[type=text].email {
                display: block;
                border: 1px solid #e6e6e6;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }

            #navigation div.dropdown-menu form .btn.login, #navigation span.dropdown-menu form .btn.login {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

    #content, #content-below, #footer {
        padding-left: 20px;
        padding-right: 20px;
    }

        #footer .col {
            margin-bottom: 0;
        }

        #footer .pull-right {
            float: none;
        }

    h1 small, h2 small, h3 small {
        display: block;
    }

    .tab-content {
        overflow: visible;
    }

        .tab-content .tab-pane {
            display: block;
            margin-bottom: 2em;
        }

    .section-menu ul.nav-list {
        border: none;
        padding: 1em 0;
    }

    .sidebar.sidebar-leftt .inner, .sidebar.sidebar-right .inner {
        border: none;
        padding: 20px 0 0;
    }
}

@media (max-width:480px) {
    #navigation .navbar .user-menu {
        float: right;
    }

        #navigation .navbar .user-menu li > a.btn {
            padding: 4px 6px;
        }

    .sidebar.sidebar-left .inner, .sidebar.siderbar-right .inner {
        border: none;
        padding-left: 0;
        padding-right: 0;
    }

    .form-wrapper.form-narrow {
        min-width: 200px;
        max-width: 300px;
    }

    .form-wrapper.form-medium {
        min-width: 200px;
        max-width: 5300px;
    }
}

.btn.login, .btn.register {
    background-color: #5493a4;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#b8d3da),to(#5493a4));
    background-image: -moz-linear-gradient(top,#b8d3da,#5493a4);
    background-image: -ms-linear-gradient(top,#b8d3da,#5493a4);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b8d3da),color-stop(100%,#5493a4));
    background-image: -webkit-linear-gradient(top,#b8d3da,#5493a4);
    background-image: -o-linear-gradient(top,#b8d3da,#5493a4);
    background-image: linear-gradient(#b8d3da,#5493a4);
    border-color: #5493a4 #5493a4 hsl(193,32%,41.5%);
    color: navy;
    text-shadow: 0 1px 1px rgba(255,255,255,.49);
    -webkit-font-smoothing: antialiased;
}

.btn.a {
    background-color: #5493a4;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#b8d3da),to(#5493a4));
    background-image: -moz-linear-gradient(top,#b8d3da,#5493a4);
    background-image: -ms-linear-gradient(top,#b8d3da,#5493a4);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b8d3da),color-stop(100%,#5493a4));
    background-image: -webkit-linear-gradient(top,#b8d3da,#5493a4);
    background-image: -o-linear-gradient(top,#b8d3da,#5493a4);
    background-image: linear-gradient(#b8d3da,#5493a4);
    border-color: #5493a4 #5493a4 hsl(193,32%,41.5%);
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.49);
    -webkit-font-smoothing: antialiased;
}

.btn.b {
    background-color: #cc7a00;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#ffad32),to(#cc7a00));
    background-image: -moz-linear-gradient(top,#ffad32,#cc7a00);
    background-image: -ms-linear-gradient(top,#ffad32,#cc7a00);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffad32),color-stop(100%,#cc7a00));
    background-image: -webkit-linear-gradient(top,#ffad32,#cc7a00);
    background-image: -o-linear-gradient(top,#ffad32,#cc7a00);
    background-image: linear-gradient(#ffad32,#cc7a00);
    border-color: #cc7a00 #cc7a00 #b26b00;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.33);
    -webkit-font-smoothing: antialiased;
}

.btn.c {
    background-color: #7cc817;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#daf6b5),to(#7cc817));
    background-image: -moz-linear-gradient(top,#daf6b5,#7cc817);
    background-image: -ms-linear-gradient(top,#daf6b5,#7cc817);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#daf6b5),color-stop(100%,#7cc817));
    background-image: -webkit-linear-gradient(top,#daf6b5,#7cc817);
    background-image: -o-linear-gradient(top,#daf6b5,#7cc817);
    background-image: linear-gradient(#daf6b5,#7cc817);
    border-color: #7cc817 #7cc817 #5f9b12;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.66);
    -webkit-font-smoothing: antialiased;
}

.btn.d {
    background-color: #c515a2;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#e727c0),to(#c515a2));
    background-image: -moz-linear-gradient(top,#e727c0,#c515a2);
    background-image: -ms-linear-gradient(top,#e727c0,#c515a2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e727c0),color-stop(100%,#c515a2));
    background-image: -webkit-linear-gradient(top,#e727c0,#c515a2);
    background-image: -o-linear-gradient(top,#e727c0,#c515a2);
    background-image: linear-gradient(#e727c0,#c515a2);
    border-color: #c515a2 #c515a2 hsl(312,80%,40.5%);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.16);
    -webkit-font-smoothing: antialiased;
}

.btn.e {
    background-color: #193f11;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#398f28),to(#193f11));
    background-image: -moz-linear-gradient(top,#398f28,#193f11);
    background-image: -ms-linear-gradient(top,#398f28,#193f11);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#398f28),color-stop(100%,#193f11));
    background-image: -webkit-linear-gradient(top,#398f28,#193f11);
    background-image: -o-linear-gradient(top,#398f28,#193f11);
    background-image: linear-gradient(#398f28,#193f11);
    border-color: #193f11 #193f11 #112b0c;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.33);
    -webkit-font-smoothing: antialiased;
}

.btn.f {
    background-color: #5e1111;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#b42121),to(#5e1111));
    background-image: -moz-linear-gradient(top,#b42121,#5e1111);
    background-image: -ms-linear-gradient(top,#b42121,#5e1111);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b42121),color-stop(100%,#5e1111));
    background-image: -webkit-linear-gradient(top,#b42121,#5e1111);
    background-image: -o-linear-gradient(top,#b42121,#5e1111);
    background-image: linear-gradient(#b42121,#5e1111);
    border-color: #5e1111 #5e1111 #490d0d;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.33);
    -webkit-font-smoothing: antialiased;
}

.btn.g {
    background-color: #1798c4;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#56c5eb),to(#1798c4));
    background-image: -moz-linear-gradient(top,#56c5eb,#1798c4);
    background-image: -ms-linear-gradient(top,#56c5eb,#1798c4);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#56c5eb),color-stop(100%,#1798c4));
    background-image: -webkit-linear-gradient(top,#56c5eb,#1798c4);
    background-image: -o-linear-gradient(top,#56c5eb,#1798c4);
    background-image: linear-gradient(#56c5eb,#1798c4);
    border-color: #1798c4 #1798c4 #1487ad;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.33);
    -webkit-font-smoothing: antialiased;
}

.btn.h {
    background-color: #282828;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#5b5b5b),to(#282828));
    background-image: -moz-linear-gradient(top,#5b5b5b,#282828);
    background-image: -ms-linear-gradient(top,#5b5b5b,#282828);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5b5b5b),color-stop(100%,#282828));
    background-image: -webkit-linear-gradient(top,#5b5b5b,#282828);
    background-image: -o-linear-gradient(top,#5b5b5b,#282828);
    background-image: linear-gradient(#5b5b5b,#282828);
    border-color: #282828 #282828 #1c1c1c;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.33);
    -webkit-font-smoothing: antialiased;
}

.btn.i {
    background-color: #2c4361;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#7a99c1),to(#2c4361));
    background-image: -moz-linear-gradient(top,#7a99c1,#2c4361);
    background-image: -ms-linear-gradient(top,#7a99c1,#2c4361);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#7a99c1),color-stop(100%,#2c4361));
    background-image: -webkit-linear-gradient(top,#7a99c1,#2c4361);
    background-image: -o-linear-gradient(top,#7a99c1,#2c4361);
    background-image: linear-gradient(#7a99c1,#2c4361);
    border-color: #2c4361 #2c4361 hsl(214,37%,19.5%);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.56);
    -webkit-font-smoothing: antialiased;
}

.btn.j {
    background-color: #a5750d;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#efb73d),to(#a5750d));
    background-image: -moz-linear-gradient(top,#efb73d,#a5750d);
    background-image: -ms-linear-gradient(top,#efb73d,#a5750d);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#efb73d),color-stop(100%,#a5750d));
    background-image: -webkit-linear-gradient(top,#efb73d,#a5750d);
    background-image: -o-linear-gradient(top,#efb73d,#a5750d);
    background-image: linear-gradient(#efb73d,#a5750d);
    border-color: #a5750d #a5750d #88600b;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.39);
    -webkit-font-smoothing: antialiased;
}

.btn.k {
    background-color: #c9c9c9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#fff),to(#c9c9c9));
    background-image: -moz-linear-gradient(top,#fff,#c9c9c9);
    background-image: -ms-linear-gradient(top,#fff,#c9c9c9);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#c9c9c9));
    background-image: -webkit-linear-gradient(top,#fff,#c9c9c9);
    background-image: -o-linear-gradient(top,#fff,#c9c9c9);
    background-image: linear-gradient(#fff,#c9c9c9);
    border-color: #c9c9c9 #c9c9c9 hsl(0,0%,68.5%);
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.69);
    -webkit-font-smoothing: antialiased;
}

.btn.l {
    background-color: #7adfa4;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#cdf3dd),to(#7adfa4));
    background-image: -moz-linear-gradient(top,#cdf3dd,#7adfa4);
    background-image: -ms-linear-gradient(top,#cdf3dd,#7adfa4);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#cdf3dd),color-stop(100%,#7adfa4));
    background-image: -webkit-linear-gradient(top,#cdf3dd,#7adfa4);
    background-image: -o-linear-gradient(top,#cdf3dd,#7adfa4);
    background-image: linear-gradient(#cdf3dd,#7adfa4);
    border-color: #7adfa4 #7adfa4 #66db96;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.33);
    -webkit-font-smoothing: antialiased;
}

.btn.m {
    background-color: #23748e;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#2d95b7),to(#23748e));
    background-image: -moz-linear-gradient(top,#2d95b7,#23748e);
    background-image: -ms-linear-gradient(top,#2d95b7,#23748e);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#2d95b7),color-stop(100%,#23748e));
    background-image: -webkit-linear-gradient(top,#2d95b7,#23748e);
    background-image: -o-linear-gradient(top,#2d95b7,#23748e);
    background-image: linear-gradient(#2d95b7,#23748e);
    border-color: #23748e #23748e hsl(195,60%,32.5%);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.16);
    -webkit-font-smoothing: antialiased;
}

.btn.n {
    background-color: #fea3a3;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#fecccc),to(#fea3a3));
    background-image: -moz-linear-gradient(top,#fecccc,#fea3a3);
    background-image: -ms-linear-gradient(top,#fecccc,#fea3a3);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fecccc),color-stop(100%,#fea3a3));
    background-image: -webkit-linear-gradient(top,#fecccc,#fea3a3);
    background-image: -o-linear-gradient(top,#fecccc,#fea3a3);
    background-image: linear-gradient(#fecccc,#fea3a3);
    border-color: #fea3a3 #fea3a3 #f99;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.13);
    -webkit-font-smoothing: antialiased;
}

.btn.o {
    background-color: #3e4134;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#7b7f66),to(#3e4134));
    background-image: -moz-linear-gradient(top,#7b7f66,#3e4134);
    background-image: -ms-linear-gradient(top,#7b7f66,#3e4134);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#7b7f66),color-stop(100%,#3e4134));
    background-image: -webkit-linear-gradient(top,#7b7f66,#3e4134);
    background-image: -o-linear-gradient(top,#7b7f66,#3e4134);
    background-image: linear-gradient(#7b7f66,#3e4134);
    border-color: #3e4134 #3e4134 hsl(70,11%,17.5%);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.36);
    -webkit-font-smoothing: antialiased;
}
