@model GRA.Controllers.ViewModel.MissionControl.AuthorizationCodeViewModel
@{ Layout = "_LoginLayout"; }
<form asp-action="AuthorizationCode" method="post">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-group form-group-lg">
                <label asp-for="AuthorizationCode" class="h4">Authorization Code for <grasite property="name"></grasite>:</label>
                <input asp-for="AuthorizationCode" class="form-control input-lg" type="password" autofocus required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Validate code</button>
        </div>
    </div>
</form>