<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="Index"><a asp-action="Index">Posts</a></li>
            <li ActiveBy routeKey="Action" value="Categories"><a asp-action="Categories">Categories</a></li>
        </ul>
    </div>
</div>