@model GRA.Controllers.ViewModel.MissionControl.News.PostDetailViewModel

@section styles {
    <link rel="stylesheet" href="/css/markdown.min.css" />
}

<form asp-action="@Model.Action" method="post" role="form">
    <input asp-for="Action" type="hidden" />
    @if (Model.Action == nameof(NewsController.EditPost))
    {
        <input asp-for="Post.Id" type="hidden" />
    }

    <div class="row">
        <div class="col-xs-12">
            <div class="mb-3">
                <badge asp-for="Post.Title" class="col-form-label"></badge>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <badge asp-for="Post.CategoryId" class="col-form-label"></badge>
                <select asp-for="Post.CategoryId" asp-items="Model.Categories" class="form-control"></select>
                <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <badge asp-for="Post.Content" class="col-form-label"></badge>
                    <div id="wmd-button-bar"></div>
                    <textarea asp-for="Post.Content" id="wmd-input" class="form-control wmd-input"> </textarea>
                    <br />
                    <badge class="col-form-label">Preview</badge>
                    <div id="preview"></div>
                    <span asp-validation-for="Post.Content" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <badge asp-for="Post.EmailSummary" class="col-form-label"></badge>
                <textarea asp-for="Post.EmailSummary" class="form-control"></textarea>
                <span asp-validation-for="Post.EmailSummary" class="text-danger"></span>
            </div>

            @if (Model.Post?.PublishedAt != null)
            {
                <div class="row row-spacing">
                    <div class="col-xs-12">
                        <badge asp-for="MarkUpdated" class="col-form-label"></badge>
                        <select asp-for="MarkUpdated" asp-items="Model.NoYes" class="form-control"></select>
                    </div>
                </div>
            }

            <div class="mb-3">
                <a asp-action="Index" class="btn btn-secondary">Return to List</a>
                @if (Model.Post?.PublishedAt != null)
                {
                    <button type="submit" class="btn btn-primary btn-spinner" button-spinner>
                        <span class="buttonText">Update Post</span>
                    </button>
                }
                else
                {
                    <button type="submit"
                            name="Publish"
                            value="False"
                            class="btn btn-primary btn-spinner"
                            button-spinner>
                        <span class="buttonText">Save as Draft</span>
                    </button>
                    <button type="submit"
                            name="Publish"
                            value="True"
                            class="btn btn-primary btn-spinner"
                            button-spinner>
                        <span class="buttonText">Save and Publish</span>
                    </button>
                }
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="/js/markdown.min.js"></script>

    <script>
        var editor = new Markdown.Editor({ allowUploads: true, privateUpload: true });
        editor.run();
    </script>
}