@model GRA.Controllers.ViewModel.MissionControl.News.PostDetailViewModel

@section styles {
    <link rel="stylesheet" href="/css/markdown.min.css" />
}

@section inHeading {
    <div class="ms-auto">
        <a asp-action="@nameof(NewsController.Index)"
           class="btn btn-outline-secondary">
            Return to list
        </a>
    </div>
}

<form asp-action="@Model.Action" method="post" role="form">
    <input asp-for="Action" type="hidden" />
    @if (Model.Action == nameof(NewsController.EditPost))
    {
        <input asp-for="Post.Id" type="hidden" />
    }

    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label asp-for="Post.Title" class="col-form-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Post.CategoryId" class="col-form-label"></label>
                <select asp-for="Post.CategoryId" 
                    asp-items="Model.Categories" 
                    class="form-select"></select>
                <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
            </div>

            <div class="row row-spacing">
                <div class="col-12">
                    <label asp-for="Post.Content" class="col-form-label"></label>
                    <div id="wmd-button-bar"></div>
                    <textarea asp-for="Post.Content" 
                    id="wmd-input" 
                    class="form-control wmd-input"> </textarea>
                    <br />
                    <label class="col-form-label">Preview</label>
                    <div id="preview"></div>
                    <span asp-validation-for="Post.Content" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Post.EmailSummary" class="col-form-label"></label>
                <textarea asp-for="Post.EmailSummary" class="form-control"></textarea>
                <span asp-validation-for="Post.EmailSummary" class="text-danger"></span>
            </div>

			<div class="row row-spacing">
				<div class="col-12">
					<label asp-for="Post.IsPinned" class="col-form-label"></label>
					<select asp-for="Post.IsPinned"
							asp-items="Model.NoYes"
							class="form-select"></select>
				</div>
			</div>

            @if (Model.Post?.PublishedAt != null)
            {
                <div class="row row-spacing">
                    <div class="col-12">
                        <label asp-for="MarkUpdated" class="col-form-label"></label>
                        <select asp-for="MarkUpdated" 
                        asp-items="Model.NoYes" 
                        class="form-select"></select>
                    </div>
                </div>
            }

            <div class="mb-3">
                @if (Model.Post?.PublishedAt != null)
                {
                    <button type="submit" class="btn btn-outline-primary" button-spinner>
                        <span class="buttonText">Update Post</span>
                    </button>
                }
                else
                {
                    <button type="submit"
                            name="Publish"
                            value="False"
                            class="btn btn-outline-primary"
                            button-spinner>
                        <span class="buttonText">Save as Draft</span>
                    </button>
                    <button type="submit"
                            name="Publish"
                            value="True"
                            class="btn btn-outline-info"
                            button-spinner>
                        <span class="buttonText">Save and Publish</span>
                    </button>
                }
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="/js/markdown.min.js"></script>

    <script>
        var editor = new Markdown.Editor({ allowUploads: true, privateUpload: true });
        editor.run();
    </script>
}