@model GRA.Controllers.ViewModel.MissionControl.Pages.PagePreviewViewModel

@section inHeading {
    <div class="ms-auto">
        <a asp-action="@nameof(ParticipantsController.Detail)"
           asp-route-id="@Model.HeaderId"
           asp-route-language="@Model.Language"
           class="btn btn-outline-secondary">Return to edit</a>
    </div>
}

<hr />

@Html.Raw(Model.Content)