<div class="row" style="margin-top: 1rem;">
    <div class="col-sm-3 row-spacing">
        <a asp-controller="Home" asp-action="LoadSampleData" class="btn btn-info btn-block">Insert sample data</a>
    </div>
    <div class="col-sm-3 row-spacing">
        <a asp-action="CreateVendorCodesAsync" class="btn btn-info btn-block">Create 50 vendor codes</a>
    </div>
    <div class="col-sm-3 row-spacing">
        <a asp-action="RedeemSecretCodeAsync" class="btn btn-info btn-block">Enter code "secretcode"</a>
    </div>
    <div class="col-sm-3 row-spacing">
        <a asp-action="SetupDynamicAvatars" class="btn btn-info btn-block">Default dynamic avatars</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 row-spacing">
        <a asp-action="AddQuestionnaireAsync" class="btn btn-info btn-block">Create questionnaire</a>
    </div>
</div>