@model GRA.Controllers.ViewModel.MissionControl.Drawing.CriterionDetailViewModel

<form asp-controller="Drawing" asp-action="CriteriaDetail" method="post" role="form">
    <input asp-for="Criterion.Id" type="hidden" />

    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">
            <label asp-for="Criterion.Name" class="control-label"></label>
            <input asp-for="Criterion.Name" class="form-control" />
            <span asp-validation-for="Criterion.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Criterion.SystemId" class="control-label"></label>
            <select asp-for="Criterion.SystemId" asp-items="Model.SystemList" class="form-control">
                <option></option>
            </select>
            <span asp-validation-for="Criterion.SystemId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Criterion.BranchId" class="control-label"></label>
            <select asp-for="Criterion.BranchId" asp-items="Model.BranchList" class="form-control">
                <option></option>
            </select>
            <span asp-validation-for="Criterion.BranchId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Criterion.ProgramId" class="control-label"></label>
            <input asp-for="ProgramPlaceholder" class="form-control" />
            <select asp-for="Criterion.ProgramIds" asp-items="Model.ProgramList" class="form-control hidden" multiple="multiple"></select>
            <span asp-validation-for="Criterion.ProgramId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-6">
            <label asp-for="Criterion.PointsMinimum" class="control-label"></label>
            <input asp-for="Criterion.PointsMinimum" type="number" min="0" class="form-control" />
            <span asp-validation-for="Criterion.PointsMinimum" class="text-danger"></span>
        </div>

        <div class="col-xs-6">
            <label asp-for="Criterion.PointsMaximum" class="control-label"></label>
            <input asp-for="Criterion.PointsMaximum" type="number" min="0" class="form-control" />
            <span asp-validation-for="Criterion.PointsMaximum" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-6">
            <label asp-for="Criterion.StartOfPeriod" class="control-label"></label>
            <div class="input-group date" id="pickerStart">
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
                <input asp-for="Criterion.StartOfPeriod" type="text" class="form-control" />
            </div>
            <span asp-validation-for="Criterion.StartOfPeriod" class="text-danger"></span>
        </div>

        <div class="col-xs-6">
            <label asp-for="Criterion.EndOfPeriod" class="control-label"></label>
            <div class="input-group date" id="pickerEnd">
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
                <input asp-for="Criterion.EndOfPeriod" type="text" class="form-control" />
            </div>
            <span asp-validation-for="Criterion.EndOfPeriod" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Criterion.ReadABook" class="control-label"></label>
            <select asp-for="Criterion.ReadABook" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="Criterion.ReadABook" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Criterion.ExcludePreviousWinners" class="control-label"></label>
            <select asp-for="Criterion.ExcludePreviousWinners" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="Criterion.ExcludePreviousWinners" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Criterion.IncludeAdmin" class="control-label"></label>
            <select asp-for="Criterion.IncludeAdmin" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="Criterion.IncludeAdmin" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label class="control-label">Eligible Participants (Click save to update)</label>
            <input asp-for="EligibleCount" type="text" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Criteria" class="btn btn-default">Return to Criteria List</a>
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary">
            <span class="buttonText">Save Criteria</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
        <button type="submit" id="Drawing" name="Drawing" value="Drawing" class="btn btn-success">
            <span class="buttonText">Save and Perform Drawing</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>

@section scripts
{
    <script>
        $("[id^=picker]").datetimepicker({
            allowInputToggle: true,
            sideBySide: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
            }
        });

        $("#Criterion_SystemId").on("change", function () {
            var systemId = $(this).val();
            var branchList = $("#Criterion_BranchId");
            var branchId = branchList.val();
            var url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { systemId: systemId, branchId: branchId, listAll: "true", prioritize: "true" }, function (response) {
                branchList.empty();
                branchList.append(new Option("No", ""));
                $.each(response, function (index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });

        $("#ProgramPlaceholder").remove();
        $("#Criterion_ProgramIds").multiselect({
            buttonClass: "form-control",
            buttonWidth: "100%",
            nonSelectedText: ""
        });
    </script>
}