@model GRA.Controllers.ViewModel.MissionControl.Drawing.CriterionListViewModel

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        <a asp-action="Index" class="btn btn-default">Drawings</a>
        <a asp-action="CriteriaCreate" class="btn btn-primary">Create Criteria</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Criteria.Count() == 0)
        {
            <div class="alert alert-warning">No Criteria</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Library</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var criterion in Model.Criteria)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="CriteriaDetail" asp-route-id="@criterion.Id" class="rowlink">
                                        @criterion.Name
                                    </a>
                                </td>
                                <td>@criterion.BranchName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
    </script>
}