@model SocialItemViewModel

@using GRA.Controllers.ViewModel.MissionControl.Social

@section inHeading {
    <div class="ms-auto d-print-none">
        <a asp-action="@nameof(Index)" class="btn btn-outline-secondary">Return to List</a>
    </div>
}

<form asp-action="@nameof(GRA.Controllers.MissionControl.SocialController.AddSocialHeader)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 mb-3">
            <label asp-for="Name" class="col-form-label"></label>*
            <description gra-description-for="Name"></description>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="StartDate" class="col-form-label"></label>*
            <description gra-description-for="StartDate"></description>
            <input asp-for="StartDate" type="datetime-local" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="LanguageId" class="col-form-label"></label>*
            <description gra-description-for="LanguageId"></description>
            <select asp-for="LanguageId"
                    asp-items="Model.LanguageList"
                    class="form-select"></select>
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="Title" class="col-form-label"></label>*
            <description gra-description-for="Title"></description>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="Description" class="col-form-label"></label>*
            <description gra-description-for="Description"></description>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="col-12 mb-3">
            <label asp-for="ImageAlt" class="col-form-label"></label>*
            <description gra-description-for="ImageAlt"></description>
            <input asp-for="ImageAlt" class="form-control" />
            <span asp-validation-for="ImageAlt" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="TwitterUsername" class="col-form-label"></label>
            <description gra-description-for="TwitterUsername"></description>
            <input asp-for="TwitterUsername" class="form-control" />
            <span asp-validation-for="TwitterUsername" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="UploadedImage" class="col-form-label"></label>
            <description gra-description-for="UploadedImage"></description>
            <div class="input-group mb-3">
                <input accept=".png,.jpg"
                       asp-for="UploadedImage"
                       class="form-control"
                       multiple="multiple"
                       type="file" />
                <button class="btn btn-outline-secondary"
                        onclick="$('#UploadedImage').val('')"
                        type="button">
                    Clear selection
                </button>
            </div>
            <span asp-validation-for="UploadedImage" class="text-danger mb-3"></span>
        </div>
        <div class="col-12">
            <button class="btn btn-outline-primary"
                    type="submit"
                    button-spinner>
                <span class="fas fa-file-upload fa-fw"></span>
                Upload and Create
            </button>
        </div>
    </div>
</form>
