<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="@nameof(ChallengesController.Groups)"><a asp-action="Groups">Challenge Groups</a></li>
            <li ActiveBy routeKey="Action" value="@nameof(ChallengesController.FeaturedGroups)"><a asp-action="FeaturedGroups">Featured Groups</a></li>
        </ul>
    </div>
</div>