<div class="row my-4">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a ActiveBy routeKey="Action" value="@nameof(ChallengesController.Groups)"
                   asp-action="Groups"
                   class="nav-link">Challenge Groups</a>
            </li>
            <li class="nav-item">
                <a ActiveBy routeKey="Action" value="@nameof(ChallengesController.FeaturedGroups)"
                   asp-action="FeaturedGroups" class="nav-link">Featured Groups</a>
            </li>
        </ul>
    </div>
</div>