@model GRA.Domain.Model.Challenge

<form asp-controller="Challenges" asp-action="Create" method="post" role="form">

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Description" class="control-labe"></label>
            <textarea asp-for="Description" class="form-control"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-6">
            <label asp-for="PointsAwarded" class="control-label"></label>
            <input asp-for="PointsAwarded" type="number" min="1" class="form-control" />
            <span asp-validation-for="PointsAwarded" class="text-danger"></span>
        </div>

        <div class="col-xs-6">
            <label asp-for="TasksToComplete" class="control-label"></label>
            <input asp-for="TasksToComplete" type="number" min="1" class="form-control" />
            <span asp-validation-for="TasksToComplete" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to List</a>
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary">
            <span class="buttonText">Create</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>

@section scripts {
    <script>
        $('#Submit').on("click", function(e) {
            if ($(this).parents('form:first').valid())
            {
                e.preventDefault();
                if (!$(this).hasClass('disabled'))
                {
                    $(this).addClass('disabled');
                    $(this).children('.fa-spinner').removeClass('hidden');
                    $(this).parents('form:first').submit();
                }
            }
        });
    </script>
}