@model GRA.Controllers.ViewModel.MissionControl.Challenges.ChallengesDetailViewModel

<form asp-controller="Challenges" asp-action="Create" method="post" role="form" enctype="multipart/form-data">

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.Name" class="control-label"></label>
            <input asp-for="Challenge.Name" class="form-control" />
            <span asp-validation-for="Challenge.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.Description" class="control-labe"></label>
            <textarea asp-for="Challenge.Description" class="form-control"> </textarea>
            <span asp-validation-for="Challenge.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-6">
            <label asp-for="Challenge.PointsAwarded" class="control-label"></label>
            <input asp-for="Challenge.PointsAwarded" type="number" min="1" class="form-control" />
            <span asp-validation-for="Challenge.PointsAwarded" class="text-danger"></span>
        </div>

        <div class="col-xs-6">
            <label asp-for="Challenge.TasksToComplete" class="control-label"></label>
            <input asp-for="Challenge.TasksToComplete" type="number" min="1" class="form-control" />
            <span asp-validation-for="Challenge.TasksToComplete" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.LimitToSystemId" class="control-label"></label>
            <select asp-for="Challenge.LimitToSystemId" asp-items="Model.SystemList" class="form-control">
                <option value="">No</option>
            </select>
            <span asp-validation-for="Challenge.LimitToSystemId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.LimitToBranchId" class="control-label"></label>
            <select asp-for="Challenge.LimitToBranchId" asp-items="Model.BranchList" class="form-control">
                <option value="">No</option>
            </select>
            <span asp-validation-for="Challenge.LimitToBranchId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.LimitToProgramId" class="control-label"></label>
            <select asp-for="Challenge.LimitToProgramId" asp-items="Model.ProgramList" class="form-control">
                <option value="">No</option>
            </select>
            <span asp-validation-for="Challenge.LimitToProgramId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label class="control-label">Add a badge</label>
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        <span class="fa fa-file-image-o"></span> Select an image<input type="file" asp-for="BadgeImage" accept=".png,.jpg,.jpeg" style="display: none;" />
                    </span>
                </label>
                <input type="text" class="form-control" readonly id="selectedFile">
            </div>
            <div>
                <span asp-validation-for="BadgeImage" class="text-danger"></span>
            </div>
            <button id="clearFile" class="btn btn-default" type="button" style="margin-top: 0.5em;"><span class="fa fa-ban"></span> Clear file selection</button>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to List</a>
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary">
            <span class="buttonText">Create</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>

@section scripts {
    <script>
        $(document).ready(function() {
            $(':file').on('fileselect', function(event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles = ' files selected' : label;

                if (input.length)
                {
                    input.val(log);
                    $('.btn-file').removeClass('btn-default');
                    $('.btn-file').addClass('btn-success');
                }
                else
                {
                    input.val('');
                    $('.btn-file').addClass('btn-default');
                    $('.btn-file').removeClass('btn-success');
                }
            });

            $('#clearFile').on("click", function() {
                $('#BadgeImage').val('');
                $('.btn-file').addClass('btn-default');
                $('.btn-file').removeClass('btn-success');
                $('#selectedFile').val('');
            });

            $(document).on('change', ':file', function() {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            $("#Challenge_LimitToSystemId").on("change", function() {
                var systemId = $(this).val();
                var branchList = $("#Challenge_LimitToBranchId");
                var branchId = branchList.val();
                var url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

                $.getJSON(url, { systemId: systemId, branchId: branchId, listAll: "true", prioritize: "true" }, function(response) {
                    branchList.empty();
                    branchList.append(new Option("No", ""));
                    $.each(response, function(index, item) {
                        branchList.append(new Option(item.text, item.value, item.selected))
                    });
                });
            });

            $('#Submit').on("click", function(e) {
                if ($(this).parents('form:first').valid())
                {
                    e.preventDefault();
                    if (!$(this).hasClass('disabled'))
                    {
                        $(this).addClass('disabled');
                        $(this).children('.fa-spinner').removeClass('hidden');
                        $(this).parents('form:first').submit();
                    }
                }
            });
        });
    </script>
}