CREATE TABLE [dbo].[Avatar](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Gender] [varchar](1) NULL,
	[LastModDate] [datetime] NULL,
	[LastModUser] [varchar](50) NULL,
	[AddedDate] [datetime] NULL,

	go

	tificationSubject] [varchar](150) NULL,
	[NotificationBody] [text] NULL,
	[CustomEarnedMessage] [text] NULL,
	[IncludesPhysicalPrizeFlag] [bit] NULL,
	[PhysicalPrizeName] [varchar](50) NULL,
	[AssignProgramPrizeCode] [bit] NULL,
	[PCNotificationSubject] [varchar](150) NULL,
	[PCNotificationBody] [text] NULL,
	[LastModDate] [datetime] NULL,
	[LastModUser] [varchar](50) NULL,
go
