<div class="row">
    <div class="col-12">
        <h1>
            Register as a Performer
        </h1>
    </div>
</div>
<div class="row my-3 text-center">
    <div class="col-12 col-sm-4 px-3 py-1">
        <span class="fs-6 w-100 py-3 badge rounded-pill"
              ActiveBy
              routeKey="Action"
              value="Information"
              appendClass="bg-success"
              inactiveClass="bg-secondary">
            1) Information
        </span>
    </div>
    <div class="col-12 col-sm-4 px-3 py-1">
        <span class="fs-6 w-100 py-3 badge rounded-pill"
              ActiveBy
              routeKey="Action"
              value="Schedule"
              appendClass="bg-success"
              inactiveClass="bg-secondary">
            2) Schedule
        </span>
    </div>
    <div class="col-12 col-sm-4 px-3 py-1">
        <span class="fs-6 w-100 py-3 badge rounded-pill"
              ActiveBy
              routeKey="Action"
              value="Program"
              appendClass="bg-success"
              inactiveClass="bg-secondary">
            3) Programs
        </span>
    </div>
</div>
